<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>疫情信息</title>
<style type="text/css">
#body1 {
	background-color: #10AEB5;
}

.btn {
	/* margin: 20px 120px;
	width: 80px; */
}

.content {
	/* margin: 10px auto; */
	display: none;
}

.btn.active {
	background-color: #10AEB5;
	color: white;
}

.content.show {
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	display: block;
}

.footDiv {
	background-color: #fff;
	height: 50px;
	overflow: auto;
	text-align: center;
	line-height: 50px;
	border-radius: 8px;
}

.contentDiv {
	background-color: #F8F9FA;
	padding: 6px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

.epidemicDiv {
	background-color: #fff;
	height: 260px;
	overflow: auto;
	padding: 6px;
	margin-top: 100px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}
</style>

<!-- Bootstrap -->
<link rel="stylesheet" type="text/css"
	href="bootstrap/css/bootstrap.css">
</head>
<body id="body1">
	<div class="container">
		<!-- 国内疫情信息展示 -->
		<div class="row">
			<div class="col-md-10 col-md-offset-1 epidemicDiv">
				<div><span style="font-size: 18px; font-weight: bold;">国内疫情</span><br/>数据更新至：<span id="updateTime"></span></div><br/>
				<table class="table table-hover table-bordered table-striped"
					style="text-align: center;">
					<thead>
						<tr>
							<th>现存确诊</th>
							<th>现存无症状</th>
							<th>境外输入</th>
						</tr>
					</thead>
					<tbody id="tbody1"></tbody>
					<thead>
						<tr>
							<th>累计确诊</th>
							<th>累计治愈</th>
							<th>累计死亡</th>
						</tr>
					</thead>
					<tbody id="tbody2"></tbody>
				</table>
			</div>
		</div>
		<!-- 中国地图显示疫情严重程度 -->
		<div class="row">
			<div class="col-md-10 col-md-offset-1"
				style="background-color: #F8F9FA;">
				<br/>
				<div id="myMap" style="height: 660px;"></div>
			</div>
		</div>
		<!-- 柱状图显示新增确诊人数较多的几个省份 -->
		<div class="row">
			<div class="col-md-10 col-md-offset-1"
				style="background-color: #F8F9FA; padding: 6px;">
				<br/>
				<div id="myBar" style="height: 500px;"></div>
			</div>
		</div>
		<!-- 折线图反映疫情走势信息 -->
		<div class="row">
			<div class="col-md-10 col-md-offset-1"
				style="background-color: #F8F9FA; padding: 6px;">
				<br/>
				<div id="myLine" style="height: 500px;"></div>
			</div>
		</div>
		<!-- 各省份疫情信息汇总表 -->
		<div class="row">
			<div class="col-md-10 col-md-offset-1"
				style="background-color: #fff; height: 600px; overflow: auto; padding: 6px;">
				<br/><div>
					<span style="font-size: 18px; font-weight: bold;">国内各地区疫情统计汇总</span>
				</div><br/>
				<table class="table table-hover table-bordered table-striped"
					style="text-align: center;">
					<thead>
						<tr>
							<th>地区</th>
							<th>现存确诊</th>
							<th>累计确诊</th>
							<th>累计治愈</th>
							<th>累计死亡</th>
						</tr>
					</thead>
					<tbody id="tbody3"></tbody>
				</table>
			</div>
		</div>
		<!-- 疫情科普模块 时间轴 -->
		<div class="row">
			<div class="col-md-10 col-md-offset-1"
				style="background-color: #fff; height: 80px; overflow: auto; padding: 6px;">
				<br/>
				<p class="btn1">
					<button class="btn active">患者症状</button>
					<button class="btn">疫情防控</button>
					<button class="btn">疫情焦点</button>
				</p>
			</div>
		</div>
		<!-- 感染者症状 -->
		<div class="row content show">
			<div class="col-md-10 col-md-offset-1 contentDiv">
				<ul class="timeline" id="timeline1"></ul>
			</div>
		</div>
		<!-- 疫情防控知识 -->
		<div class="row content">
			<div class="col-md-10 col-md-offset-1 contentDiv">
				<ul class="timeline" id="timeline2"></ul>
			</div>
		</div>
		<!-- 防疫焦点资讯 -->
		<div class="row content">
			<div class="col-md-10 col-md-offset-1 contentDiv">
				<ul class="timeline" id="timeline3"></ul>
			</div>
		</div>

		<div class="row" style="margin-top: 30px; margin-bottom: 100px;">
			<div class="col-md-10 col-md-offset-1 footDiv">
				积极防护，保护自己，戴口罩，勤洗手
			</div>
		</div>
	</div>

</body>

<script type="text/javascript" src="bootstrap/js/jquery-1.11.2.js"></script>
<script type="text/javascript" src="bootstrap/js/bootstrap.js"></script>
<script type="text/javascript" src="echarts/echarts.js"></script>
<script type="text/javascript" src="js/moment.js"></script>
<script type="text/javascript">
	$(function() {
		//国内疫情信息展示
		//定义个用来给表格中装载数据的函数
		var fillToDomesticTable = function(domesticEpidemic) {
			var tbody1 = $("#tbody1");
			var tbody2 = $("#tbody2");
			tbody1.empty(); //清空
			tbody2.empty(); //清空
			var tr = $("<tr>");
			var td = $("<td>");
			td.text(domesticEpidemic.existingDiagnosis);
			tr.append(td);

			td = $("<td>");
			td.html("" + domesticEpidemic.existingAsymptomatic);
			tr.append(td);

			td = $("<td>");
			td.html("" + domesticEpidemic.overseasInput);
			tr.append(td);

			tbody1.append(tr);

			tr = $("<tr>");
			td = $("<td>");

			td = $("<td>");
			td.html("" + domesticEpidemic.cumulativeDiagnosis);
			tr.append(td);

			td = $("<td>");
			td.html("" + domesticEpidemic.cumulativeCure);
			tr.append(td);

			td = $("<td>");
			td.html("" + domesticEpidemic.cumulativeDeath);
			tr.append(td);

			tbody2.append(tr);
			
			var updateTime = document.getElementById("updateTime");
			updateTime.innerText = moment(domesticEpidemic.updateTime).format("YYYY-MM-DD hh:mm");
		};
		
		//中国地图显示疫情严重程度
		var myMap = echarts.init($("#myMap").get(0));
		//获取地图json数据，显示中国地图
		$.getJSON("echarts/china.json", {}, function(chinaJson) {
			echarts.registerMap("china", chinaJson);
			var option = {
				title : {
					text : "全国疫情分布图"
				},
				legend : {
					data : [ "现有确诊" ]
				},
				tooltip : {},
				visualMap : {
					type : 'piecewise',
					min : 0,
					max : 10000,
					splitList : [ {
						start : 10000,
					}, {
						start : 1000,
						end : 10000
					}, {
						start : 500,
						end : 999
					}, {
						start : 100,
						end : 499
					}, {
						start : 10,
						end : 99
					}, {
						start : 1,
						end : 9
					}, {
						start : 0,
						end : 0
					} ],
					textStyle : {
						color : 'orange'
					}
				},
				series : [ 
					{
						name : '现有确诊',
						type : 'map',
						mapType : 'china',
						showLegendSymbol : false,
						label: {
			                normal: {
			                    show: true
			                },
			                emphasis: {
			                    show: true
			                }
			            },
						data : []
					}
				]
			};
			myMap.setOption(option);
		}, "json");
		//将数据填充到地图中
		var fillToMap = function(list) {
			var data = [];
			$.each(list, function(index, provinceEpidemicDetail) {
				var obj = {};
				obj.name = provinceEpidemicDetail.province.provinceName;//省份名称
				obj.value = provinceEpidemicDetail.provinceEpidemic.existingDiagnosis;//现存确诊
				data.push(obj);
			});
			myMap.setOption({
				title : {
					text : "全国疫情地图"
				},
				series : [ 
					{
						name : '现有确诊',
						type : 'map',
						mapType : 'china',
						data : data
					}
				]
			});
		};
		
		//柱状图显示新增确诊人数较多的几个省份
		//初始化图表
		var myBar = echarts.init($("#myBar").get(0));
		var option = {
			title : {
				text : "现存确诊省份 Top10",
				subtext : '单位：例'
			},
			grid : {
				show : true
			},
			legend : {
				/* data : [ "2020-02-28" ] */
			},
			tooltip : {
				trigger : 'axis'
			},
			xAxis : {
				data : []
			},
			yAxis : {},
			series : [ {
				type : 'bar',
				barWidth : 30,
				/* name : '2020-02-28', */
				data : []
			} ]
		};
		myBar.setOption(option);
		//将服务器端返回的数据设置到图表上
		var fillToBar = function(list) {
			var provinceNames = [];
			var existingDiagnosis = [];
			$.each(list, function(index, provinceEpidemicDetail) {
				provinceNames.push(provinceEpidemicDetail.province.provinceName);
				existingDiagnosis.push(provinceEpidemicDetail.provinceEpidemic.existingDiagnosis);
			});
			myBar.setOption({
				xAxis : {
					data : provinceNames
				},
				series : [ {
					data : existingDiagnosis
				} ]
			});
		};
		
		//折线图反映疫情走势信息
		//初始化图表
		var myLine = echarts.init($("#myLine").get(0));
		var option = {
			title: {
		        text: '全国疫情走势'
		    },
		    tooltip: {
		        trigger: 'axis'
		    },
		    legend: {
		        data: ['现存确诊', '累计确诊', '累计治愈', '累计死亡']
		    },
		    grid: {
		        left: '3%',
		        right: '4%',
		        bottom: '3%',
		        containLabel: true
		    },
		    toolbox: {
		        feature: {
		            saveAsImage: {}
		        }
		    },
		    xAxis: {
		        type: 'category',
		        boundaryGap: false,
		        data: []
		    },
		    yAxis: {
		        type: 'value'
		    },
			series : [ 
				{
					name : '现存确诊',
					data: [],
			        type: 'line'
				},
				{
					name : '累计确诊',
					data: [],
			        type: 'line'
				},
				{
					name : '累计治愈',
					data: [],
			        type: 'line'
				},
				{
					name : '累计死亡',
					data: [],
			        type: 'line'
				} 
			]
		};
		myLine.setOption(option);
		//将服务器端返回的数据设置到图表上
		var fillToLine = function(list) {
			var datatime = [];
			var existingDiagnosis = [];
			var cumulativeDiagnosis = [];
			var cumulativeCure = [];
			var cumulativeDeath = [];
			$.each(list, function(index, domesticEpidemic) {
				datatime.push(moment(domesticEpidemic.updateTime).format("MM-DD"));
				existingDiagnosis.push(domesticEpidemic.existingDiagnosis);
				cumulativeDiagnosis.push(domesticEpidemic.cumulativeDiagnosis);
				cumulativeCure.push(domesticEpidemic.cumulativeCure);
				cumulativeDeath.push(domesticEpidemic.cumulativeDeath);
			});
			myLine.setOption({
				xAxis: {
			        data: datatime
			    },
				series : [ 
					{
						data : existingDiagnosis
					},
					{
						data : cumulativeDiagnosis
					},
					{
						data : cumulativeCure
					},
					{
						data : cumulativeDeath
					}
				]
			});
		};
		
		//各省份疫情信息汇总表
		//定义个用来给表格中装载数据的函数
		var fillToProvinceTable = function(provinceEpidemic) {
			var tbody3 = $("#tbody3");
			tbody3.empty(); //清空
			var count = 0;
			$.each(provinceEpidemic, function(index, epidemic) {
				count += 1;
				var tr = $("<tr onclick='getCityEpidemic("+epidemic.province.provinceId+","+epidemic.provinceEpidemic.updateTime+")'>");
				var td = $("<td>");
				td.text(epidemic.province.provinceName);
				tr.append(td);

				td = $("<td>");
				td.html("" + epidemic.provinceEpidemic.existingDiagnosis);
				tr.append(td);

				td = $("<td>");
				td.html("" + epidemic.provinceEpidemic.cumulativeDiagnosis);
				tr.append(td);

				td = $("<td>");
				td.html("" + epidemic.provinceEpidemic.cumulativeDeath);
				tr.append(td);

				td = $("<td>");
				td.html("" + epidemic.provinceEpidemic.cumulativeCure);
				tr.append(td);
				
				td = $("<tr id='province_'"+count+">");
				tr.append(td);

				tbody3.append(tr);
			});
		};
		
		//获取城市疫情信息
	    function getCityEpidemic(provinceId,updateTime){

	        var city_ = $("tr[name=city_"+id+"]");
	        if(city_ && city_.length>0){
	        	city_.remove();
	            return;
	        }

	        $.ajax({
	            url : 'epidemicData/cityEpidemic?provinceId='+provinceId+'&updateTime='+updateTime,
	            type : 'post',
	            dataType : 'json',
	            success : function(cityEpidemic) {
	                 var tboty=[];
	                 for(var i=0;i<cityEpidemic.length;i++){
	                     tboty.push("<tr class='city' name=\"city_"+id+"\">");
	                     tboty.push('<td>'+cityEpidemic[i].cityName+'</td>');
	                     tboty.push('<td>'+cityEpidemic[i].newDiagnosis+'</td>');
	                     tboty.push("<td>"+cityEpidemic[i].existingDiagnosis+"</td>");
	                     tboty.push("<td>"+cityEpidemic[i].cumulativeDiagnosis+"</td>");
	                     tboty.push("<td>"+cityEpidemic[i].cumulativeDeath+"</td>");
	                     tboty.push("<td>"+cityEpidemic[i].cumulativeCure+"</td>");
	                 }
	                 $("#province_"+id).after(tboty.join(''));

	            },
	            error: function (data) {
	                 alert("获取异常！");
	             }  
	        })

	    }
		
		<!-- 疫情科普模块 -->
		<!-- 感染者症状 -->
        $.ajax({
            url : "epidemicData/epidemicInfo?flag=1",
            type : "get",
            dataType : "json",
            success : function(epidemicInfo) {
            	var timeline1 = $("#timeline1");
            	timeline1.empty(); //清空
            	var li = "";
    			$.each(epidemicInfo, function(index, epidemic) {
    				li += "<li class='time-label'>";
    				li += "<i class='fa fa-envelope bg-blue'></i>";
    				li += "<div class='timeline-item'>";
    				li += "<span class='time'><i class='fa fa-clock-o'></i>";
    				if(epidemic.releaseTime!=null && epidemic.releaseTime != ""){
    					li += moment(epidemic.releaseTime).format("YYYY-MM-DD HH:mm");
    				}
    				li += "</span><h4 class='timeline-header'>";
    				li += "<a href='#'>" + epidemic.title + "</a>";
    				li += "</h4></div></li>";

    			});
    			timeline1.html(li);

            },
            error: function (data) {
                 alert("获取异常！");
             }  
        })

		<!-- 疫情防控知识 -->
        $.ajax({
            url : "epidemicData/epidemicInfo?flag=2",
            type : "get",
            dataType : "json",
            success : function(epidemicInfo) {
            	var timeline2 = $("#timeline2");
            	timeline2.empty(); //清空
            	var li = "";
    			$.each(epidemicInfo, function(index, epidemic) {
    				li += "<li class='time-label'>";
    				li += "<i class='fa fa-envelope bg-blue'></i>";
    				li += "<div class='timeline-item'>";
    				li += "<span class='time'><i class='fa fa-clock-o'></i>";
    				if(epidemic.releaseTime!=null && epidemic.releaseTime != ""){
    					li += moment(epidemic.releaseTime).format("YYYY-MM-DD HH:mm");
    				}
    				li += "</span><h4 class='timeline-header'>";
    				li += "<a href='#'>" + epidemic.title + "</a>";
    				li += "</h4></div></li>";

    			});
    			timeline2.html(li);

            },
            error: function (data) {
                 alert("获取异常！");
             }  
        })
        
		<!-- 防疫焦点资讯 -->
        $.ajax({
            url : "epidemicData/epidemicInfo?flag=3",
            type : "get",
            dataType : "json",
            success : function(epidemicInfo) {
            	var timeline3 = $("#timeline3");
            	timeline3.empty(); //清空
            	var li = "";
    			$.each(epidemicInfo, function(index, epidemic) {
    				li += "<li class='time-label'>";
    				li += "<i class='fa fa-envelope bg-blue'></i>";
    				li += "<div class='timeline-item'>";
    				li += "<span class='time'><i class='fa fa-clock-o'></i>";
    				if(epidemic.releaseTime!=null && epidemic.releaseTime != ""){
    					li += moment(epidemic.releaseTime).format("YYYY-MM-DD HH:mm");
    				}
    				li += "</span><h4 class='timeline-header'>";
    				li += "<a href='#'>" + epidemic.title + "</a>";
    				li += "</h4></div></li>";

    			});
    			timeline3.html(li);

            },
            error: function (data) {
                 alert("获取异常！");
             }  
        })
		
		
		//发送请求获取国内最新疫情数据
		$.ajax({
			url: "epidemicData/domesticEpidemic",
			type: "get",
			data: {},
			dataType: "json",
			success: function(resp){
				if (resp != null) {
					fillToDomesticTable(resp);
				}
			}
		})
		
		$.get("epidemicData/findDomesticEpidemic", {}, function(resp) {
			if (resp != null) {
				fillToLine(resp);
			}
		}, "json");
		
		//发送请求获取各省份最新疫情数据
		$.get("epidemicData/provinceEpidemic", {}, function(resp) {
			if (resp != null) {
				fillToMap(resp);
				fillToProvinceTable(resp);
			}
		}, "json");
		
      	//发送请求获取各省份最新疫情数据（带条件）
		$.get("epidemicData/findProvinceEpidemic", {}, function(resp) {
			if (resp != null) {
				fillToBar(resp);
			}
		}, "json");
		
	});
	
</script>

<script type="text/javascript">
　　　　//获取页面的每个按钮
       var btns = document.getElementsByClassName("btn")
　　　　//获取内容盒子
       var contents = document.getElementsByClassName("content")

　　　　//遍历每个按钮为其添加点击事件
       for(var i=0;i<btns.length;i++){
           btns[i].index = i;
           btns[i].onclick = function(){
　　　　　　　　//对当前点击的按钮赋予active类名及显示当前按钮对应的内容
              for(var j=0;j<btns.length;j++){
                  btns[j].className = btns[j].className.replace(' active', '').trim();
                  contents[j].className = contents[j].className.replace(' show', '').trim();
              }
              this.className = this.className + ' active';
              contents[this.index].className = contents[this.index].className + ' show';
           };
       }
</script>

</html>
