<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
<title>登录</title>

<style type="text/css">
#body1 {
	background-color: #10AEB5;
}
</style>

<!-- Bootstrap -->
<link rel="stylesheet" type="text/css"
	href="bootstrap/css/bootstrap.css" />
<!--[if lt IE 9]>
    <script src="../bootstrap/js/html5shiv.js"></script>
    <script src="../bootstrap/js/respond.js"></script>
    <![endif]-->
</head>
<body id="body1">
	<div class="container">
		<div class="row" style="text-align: center;">
			<div class="col-md-4 col-md-offset-4">
				<div style="height: 160px;"></div>
				<div>
					<h1>登录系统</h1><br>
				</div>
				<form action="loginCheck" method="post" class="form-horizontal">
					<div class="form-group has-feedback">
						<div class="col-md-10 col-md-offset-1">
							<input type="text" name="campusId" id="campusId" placeholder="账号"
								class="form-control" required="required" maxlength="12">
							<span class="glyphicon glyphicon-user form-control-feedback"></span>
						</div>
					</div>
					<div class="form-group has-feedback">
						<div class="col-md-10 col-md-offset-1">
							<input type="password" name="userPassword" id="userPassword"
								placeholder="密码" class="form-control" required="required">
							<span class="glyphicon glyphicon-lock form-control-feedback"></span>
						</div>
					</div><br>
					<div class="form-group">
						<div class="col-md-6 col-md-offset-3">
							<input type="submit" value="登 录" class="btn btn-primary">
						</div>
					</div>
				</form>
			</div>
			<div th:if="${msg}!=null">
				<div class="row">
					<div class="col-md-4 col-md-offset-4">
						<div class="alert alert-danger alert-dismissable">
							<span th:text="${msg}"></span>
							<button type="button" class="close" data-dismiss="alert">
								<span>&times;</span>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="bootstrap/js/jquery-1.11.2.js"></script>
	<script type="text/javascript" src="bootstrap/js/bootstrap.js"></script>
</body>
<script type="text/javascript">
	$("#campusId").keyup(function() {//控制输入的账号只能为数字
		var value = $(this);
		//替换非数字字符
		var temp = "";
		if (value.val().length == 1) {
			temp = value.val().replace(/[^1-9]/g, '');
			$(this).val(temp);
		} else if (/[^\d]/.test(value.val())) {
			temp = value.val().replace(/[^\d]/g, '');
			$(this).val(temp);
		}
	})
</script>
</html>
