<!DOCTYPE html>
<html>

<head>
<!-- 页面meta -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>现有确诊管理</title>
<meta
	content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"
	name="viewport">
<link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet"
	href="../bower_components/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet"
	href="../bower_components/Ionicons/css/ionicons.min.css">
<link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
<link rel="stylesheet"
	href="../plugins/adminLTE/css/skins/_all-skins.min.css">
<link rel="stylesheet" href="../bootstrap/css/bootstrap-table.min.css">
<link rel="stylesheet" href="../css/style.css">

</head>

<body class="hold-transition skin-red sidebar-mini">

	<!-- 内容头部 -->
	<section class="content-header">
		<h1>
			<small></small>
		</h1>
		<ol class="breadcrumb">
			<!-- <li><a href="home"><i class="fa fa-dashboard"></i> 首页</a></li> -->
			<li><i class="fa fa-home"></i>&nbsp;&nbsp;首页</li>
			<li>校园疫情信息管理</li>
			<li class="active">确诊患者管理</li>
		</ol>
	</section>
	<!-- 内容头部 /-->

	<!-- .box-body -->
	<div class="box-header with-border">
		<h3 class="box-title">现有确诊列表</h3>
	</div>

	<div class="box-body">

		<!-- 数据表格 -->
		<div class="table-box">

			<!--工具栏-->
			<div class="pull-left">
				<div class="form-group form-inline">
					<div class="btn-group">
						<button type="button" class="btn btn-default" title="新建"
							data-toggle="modal" data-target="#addModal">
							<i class="fa fa-file-o"></i> 新建
						</button>
						<button type="button" class="btn btn-default" title="刷新"
							onclick="window.location.reload();">
							<i class="fa fa-refresh"></i> 刷新
						</button>
					</div>
				</div>
			</div>

			<div class="box-tools pull-right">
				<div class="has-feedback">
					<span th:if="${epidemicDiagnosis==null}">编号：<input
						type="text" id="campusIdFind" name="campusId" maxlength="12"
						placeholder="编号"> <span th:if="${fullName==null}">姓名：<input
							type="text" id="fullName" name="fullName" placeholder="姓名"></span><span
						th:if="${fullName!=null}">姓名：<input type="text"
							id="fullName" name="fullName" placeholder="姓名"
							th:value="${fullName}"></span> 是否重症：<select
						id="whetherSevereFind" name="whetherSevere">
							<option value="" selected="selected">请选择</option>
							<option value="y">是</option>
							<option value="n">否</option>
					</select> </span> <span
						th:if="${epidemicDiagnosis!=null}">编号：<input type="text"
						id="campusIdFind" name="campusId" maxlength="12" placeholder="编号"
						th:value="${epidemicDiagnosis.campusId}"> <span
						th:if="${fullName==null}">姓名：<input type="text"
							id="fullName" name="fullName" placeholder="姓名"></span><span
						th:if="${fullName!=null}">姓名：<input type="text"
							id="fullName" name="fullName" placeholder="姓名"
							th:value="${fullName}"></span> 是否重症：<select
						id="whetherSevereFind" name="whetherSevere">
							<option value="">请选择</option>
							<option value="y"
								th:selected="${epidemicDiagnosis.whetherSevere=='y'?true:false}">是</option>
							<option value="n"
								th:selected="${epidemicDiagnosis.whetherSevere=='n'?true:false}">否</option>
					</select> </span>
					<button id="query" class="btn btn-default">查询</button>
				</div>
			</div>
			<!--工具栏/-->

			<!--数据列表-->
			<table id="dataList"
				class="table table-bordered table-striped table-hover dataTable">
				<thead>
					<tr>
						<th class="sorting_asc">编号</th>
						<th class="sorting">姓名</th>
						<th class="sorting">症状</th>
						<th class="sorting">住址</th>
						<th class="sorting">确诊时间</th>
						<th class="sorting">是否重症</th>

						<th class="text-center">操作</th>
					</tr>
				</thead>
				<tbody id="tb">
					<tr th:each="diagnosis:${diagnoses}">
						<td th:text="${diagnosis.campusId}"></td>
						<td><span th:each="user:${userInfo}"
							th:text="${user.campusId==diagnosis.campusId?user.fullName:''}"></span></td>
						<td th:text="${diagnosis.symptoms}"></td>
						<td><span th:each="user:${userInfo}"
							th:text="${user.campusId==diagnosis.campusId?user.address:''}"></span></td>
						<td
							th:text="${#dates.format(diagnosis.diagnosisTime,'yyyy-MM-dd HH:mm:ss')}"></td>
						<td th:text="${diagnosis.whetherSevere=='y'?'是':'否'}"></td>

						<td class="text-center">
							<button type="button" class="btn bg-olive btn-xs"
								th:onclick="fillDetail([[${diagnosis}]])" data-toggle="modal"
								data-target="#detailModal">详情</button>
							<button type="button" class="btn bg-olive btn-xs" th:onclick="fillCureDeath([[${diagnosis}]])"
								data-toggle="modal" data-target="#cureModal">转为治愈</button>
							<button type="button" class="btn bg-olive btn-xs" th:onclick="fillCureDeath([[${diagnosis}]])"
								data-toggle="modal" data-target="#deathModal">转为死亡</button>
						</td>
					</tr>
				</tbody>
			</table>
			<!--数据列表/-->

		</div>
		<!-- 数据表格 /-->

	</div>
	<!-- /.box-body -->



	<!-- 患者详情 -->
	<div class="modal fade" id="detailModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">×</button>
					<h3 id="myModalLabel">确诊患者信息</h3>
				</div>
				<div class="modal-body">

					<ul class="nav nav-tabs">
						<li class="active"><a href="#personal" data-toggle="tab">基本信息</a></li>
						<li><a href="#diagnosis" data-toggle="tab">诊断信息</a></li>
					</ul>

					<!-- 选项卡开始 -->
					<div id="myTabContent" class="tab-content">
						<div class="tab-pane active in" id="personal">
							<br>
							<table class="table table-bordered table-striped">
								<tr>
									<td>年龄</td>
									<td id="age"></td>
								</tr>
								<tr>
									<td>性别</td>
									<td id="gender"></td>
								</tr>
								<tr>
									<td>岗位/职称</td>
									<td id="post"></td>
								</tr>
								<tr>
									<td>身份证</td>
									<td id="idNumber"></td>
								</tr>
								<tr>
									<td>手机号码</td>
									<td id="phoneNumber"></td>
								</tr>
							</table>
						</div>
						<div class="tab-pane fade" id="diagnosis">
							<br>
							<table class="table table-bordered table-striped" width="800px">
								<tr>
									<td>诊治医院</td>
									<td id="hospital"></td>
								</tr>
								<tr>
									<td>感染来源</td>
									<td id="sourceOfInfection"></td>
								</tr>
								<tr>
									<td>备注</td>
									<td id="remarks"></td>
								</tr>
							</table>
						</div>

					</div>
					<!-- 选项卡结束 -->

				</div>
				<div class="modal-footer">
					<button class="btn btn-default" data-dismiss="modal"
						aria-hidden="true">关闭</button>
				</div>
			</div>
		</div>
	</div>

	<!-- 新建窗口 -->
	<div class="modal fade" id="addModal" tabindex="-1" role="dialog"
		aria-labelledby="addModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<form action="../campusEpidemic/diagnosesAdd" method="post"
				onsubmit="return verify()">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">×</button>
						<h3 id="addModalLabel">新增确诊患者</h3>
					</div>

					<div class="modal-body">

						<table class="table table-bordered table-striped" width="800px">
							<tr>
								<td>编号</td>
								<td><input type="text" id="campusId" name="campusId"
									class="form-control" placeholder="编号" maxlength="12"
									required="required"></td>
								<td><span id="campusIdCheck"></span></td>
							</tr>
							<tr>
								<td>症状</td>
								<td><input type="text" id="symptoms" name="symptoms"
									class="form-control" placeholder="症状" required="required"></td>
							</tr>
							<tr>
								<td>是否重症</td>
								<td><select id="whetherSevere" name="whetherSevere"
									class="form-control">
										<option value="y">是</option>
										<option value="n" selected="selected">否</option>
								</select></td>
							</tr>
							<tr>
								<td>诊治医院</td>
								<td><input type="text" id="hospital" name="hospital"
									required="required" class="form-control" placeholder="诊治医院"></td>
							</tr>
							<tr>
								<td>确诊时间</td>
								<td><input type="datetime-local" id="diagnosisTime"
									name="diagnosisTime" class="form-control" required="required"></td>
							</tr>
							<tr>
								<td>感染源</td>
								<td><input type="text" id="sourceOfInfection"
									name="sourceOfInfection" class="form-control"
									placeholder="感染来源" required="required"></td>
							</tr>
							<tr>
								<td>备注</td>
								<td><input type="text" id="remarks" name="remarks"
									class="form-control" placeholder="备注"></td>
							</tr>
						</table>

					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-success">保 存</button>
						<button class="btn btn-default" data-dismiss="modal"
							aria-hidden="true">关 闭</button>
					</div>
				</div>
			</form>
		</div>
	</div>

	<!-- 转为治愈 -->
	<div class="modal fade" id="cureModal" tabindex="-1" role="dialog"
		aria-labelledby="addModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<form action="../campusEpidemic/cureAdd" method="post"
				onsubmit="return verify()">
				<input type="hidden" id="state" name="state" value="c">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">×</button>
						<h3 id="addModalLabel">转为治愈</h3>
					</div>

					<div class="modal-body">

						<table class="table table-bordered table-striped" width="800px">
							<tr>
								<td>编号</td>
								<td><input type="text" id="campusId2" name="campusId"
									class="form-control" placeholder="编号" maxlength="12"
									readonly="readonly"></td>
							</tr>
							<tr>
								<td>姓名</td>
								<td><input type="text" id="fullName2" name="fullName"
									class="form-control" placeholder="姓名" 
									readonly="readonly"></td>
							</tr>
							<tr>
								<td>备注</td>
								<td><input type="text" id="remarks" name="remarks"
									class="form-control" placeholder="备注"></td>
							</tr>
						</table>

					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-success">确 定</button>
						<button class="btn btn-default" data-dismiss="modal"
							aria-hidden="true">关 闭</button>
					</div>
				</div>
			</form>
		</div>
	</div>

	<!-- 转为死亡 -->
	<div class="modal fade" id="deathModal" tabindex="-1" role="dialog"
		aria-labelledby="addModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<form action="../campusEpidemic/deathAdd" method="post"
				onsubmit="return verify()">
				<input type="hidden" id="state" name="state" value="d">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">×</button>
						<h3 id="addModalLabel">转为死亡</h3>
					</div>

					<div class="modal-body">

						<table class="table table-bordered table-striped" width="800px">
							<tr>
								<td>编号</td>
								<td><input type="text" id="campusId3" name="campusId"
									class="form-control" placeholder="编号" maxlength="12"
									required="required"></td>
								<td><span id="campusIdCheck"></span></td>
							</tr>
							<tr>
								<td>姓名</td>
								<td><input type="text" id="fullName3" name="fullName"
									class="form-control" placeholder="姓名" 
									readonly="readonly"></td>
							</tr>
							<tr>
								<td>备注</td>
								<td><input type="text" id="remarks" name="remarks"
									class="form-control" placeholder="备注"></td>
							</tr>
						</table>

					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-success">确 定</button>
						<button class="btn btn-default" data-dismiss="modal"
							aria-hidden="true">关 闭</button>
					</div>
				</div>
			</form>
		</div>
	</div>

</body>

<script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
<script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="../bootstrap/js/bootstrap-table.min.js"></script>
<script src="../bootstrap/js/bootstrap-table-zh-CN.min.js"></script>
<script src="../js/moment.js"></script>

<script type="text/javascript">
	$("#campusIdFind").keyup(function() {//控制输入的账号只能为数字
		var value = $(this);
		//替换非数字字符
		var temp = "";
		if (value.val().length == 1) {
			temp = value.val().replace(/[^1-9]/g, '');
			$(this).val(temp);
		} else if (/[^\d]/.test(value.val())) {
			temp = value.val().replace(/[^\d]/g, '');
			$(this).val(temp);
		}
	})
	
	var flag = 0;
	$(function() {
		
		// 使用Ajax异步获取后台用户是否存在
		$("#campusId").keyup(function() {
			var campusId = $("#campusId").val();
			
			var value = $(this);
			//替换非数字字符
			var temp = "";
			if (value.val().length == 1) {
				temp = value.val().replace(/[^1-9]/g, '');
				$(this).val(temp);
			} else if (/[^\d]/.test(value.val())) {
				temp = value.val().replace(/[^\d]/g, '');
				$(this).val(temp);
			}
			
			// post的方式向后台发送请求，第一个参数为发送的地址，第二个参数为发送的数据，function表示执行成功返回的数据
			$.ajax({
				url: "../user/idCheack",
				type: "post",
				data: {"campusId":campusId},
				dataType: "json",
				
				success: function(num) {
					if (num == "1") {
						$("#campusIdCheck").html("<span></span>");
						flag = 0;
					} else {
						$("#campusIdCheck").html("<span style='color: red;'>未找到该用户！</span>");
						flag = 1;
					}
				}
			})
		});

	})
	
	// form表单提交时先进行判断
	function verify() {
		if (flag == 1) {
			alert("未找到该用户");
			return false;
		}
		return true;
	}
</script>

<script type="text/javascript">
	
	// 查询绑定点击事件
   	$("#query").click(function(){
	   	//doAjax();
   		findDiagnosis();
   	})
   
   	// 查询确诊患者信息
	function findDiagnosis(){
   		var campusId = $("#campusIdFind").val();
		var fullName = $("#fullName").val();
		var whetherSevere = $("#whetherSevereFind").val();
    	window.location.href = "../campusEpidemic/findDiagnosis?campusId="+campusId+"&fullName="+fullName+"&whetherSevere="+whetherSevere;
    }
   	
   	// 利用Ajax实现分页
	function doAjax(){
    	var campusId = $("#campusIdFind").val();
		var fullName = $("#fullName").val();
		var whetherSevere = $("#whetherSevereFind").val();
		var sourceOfInfection = $("#sourceOfInfectionFind").val();
		
		$.ajax({
			url: "../campusEpidemic/findDiagnosis",
			type: "post",
			data: {"campusId":campusId, "fullName":fullName,"whetherSevere":whetherSevere, "sourceOfInfection":sourceOfInfection},
			dataType: "json",
			success: function(map){
				show(map);
			}
		})
		
	}
    
	function show(map){
		var diagnoses = map.diagnoses; //获取到map中的diagnoses集合
		var userInfo = map.userInfo; //获取到map中的userInfo集合
		
		// 先清空原来的内容
		$("#tb").empty();
		var user_tr = "<tr>";
		if(diagnoses!=null && diagnoses.length>0){
			// 拼接内容
			$.each(diagnoses, function(i, diagnosis) {
				user_tr += "<td>";
				user_tr += diagnosis.campusId;
				user_tr += "</td><td>";
				for(var i=0; i<userInfo.length; i++){
					if(userInfo[i].campusId==diagnosis.campusId){
						user_tr += userInfo[i].fullName;
						break;
					}
				}
				user_tr += "</td><td>";
				user_tr += diagnosis.symptoms;
				user_tr += "</td><td>";
				for(var i=0; i<userInfo.length; i++){
					if(userInfo[i].campusId==diagnosis.campusId){
						user_tr += userInfo[i].address;
						break;
					}
				}
				user_tr += "</td><td>";
				user_tr += moment(diagnosis.diagnosisTime).format("YYYY-MM-DD HH:mm:ss");
				user_tr += "</td><td>";
				if(diagnosis.whetherSevere=='y'){
					user_tr += "是";
				}else{
					user_tr += "否";
				}
				user_tr += "</td><td class='text-center'>";
				user_tr += "<button type='button' class='btn bg-olive btn-xs' ";
				user_tr += "data-toggle='modal' data-target='#detailModal'";
				user_tr += "onclick='fillDetail("+ diagnosis +")'>详情</button>&nbsp;&nbsp;";
				user_tr += "<button type='button' onclick='fillEditTable()' ";
				user_tr += "class='btn bg-olive btn-xs' data-toggle='modal'";
				user_tr += "data-target='#cureModal'>转为治愈</button>&nbsp;&nbsp;";
				user_tr += "<button type='button' onclick='fillEditTable()' ";
				user_tr += "class='btn bg-olive btn-xs' data-toggle='modal'";
				user_tr += "data-target='#deathModal'>转为死亡</button></td></tr>";
				//<fmt:formatDate value="${task.createTime}"
				//th:text=""	pattern="yyyy-MM-dd hh:mm:ss" />
			});
		}else{
			user_tr =  "<tr style='text-align: center;'><td colspan='12'>没有查询到相关记录！</td></tr>";
		}
		
		$("#tb").html(user_tr);
	}
</script>

<script th:inline="javascript">
	//设置详情表单的默认值
	function fillDetail(diagnosis) {
		// 获取用户信息
		var userInfos = [[${userInfo}]];
		// 匹配当前选中用户信息
		var user = null;
		for(var i=0; i<userInfos.length; i++){
			if(diagnosis.campusId == userInfos[i].campusId){
				user = userInfos[i];
			}
		}
		
		// 根据id获取各对象
		var age = document.getElementById("age");
		var gender = document.getElementById("gender");
		var post = document.getElementById("post");
		var idNumber = document.getElementById("idNumber");
		var phoneNumber = document.getElementById("phoneNumber");
		
		var hospital = document.getElementById("hospital");
		var sourceOfInfection = document.getElementById("sourceOfInfection");
		var remarks = document.getElementById("remarks");
		
		// 设置td的值
		age.innerText = user.age;
		// 判断是男还是女
		if(user.gender == "m"){
			gender.innerText = "男";
		}else{
			gender.innerText = "女";
		}
		post.innerText = user.post;
		idNumber.innerText = user.idNumber;
		phoneNumber.innerText = user.phoneNumber;
		
		hospital.innerText = diagnosis.hospital;
		sourceOfInfection.innerText = diagnosis.sourceOfInfection;
		remarks.innerText = diagnosis.remarks;
	}
	
	//设置转为治愈表单的默认值
	function fillCureDeath(diagnosis) {
		
		// 获取用户信息
		var userInfos = [[${userInfo}]];
		// 匹配当前选中用户信息
		var user = null;
		for(var i=0; i<userInfos.length; i++){
			if(diagnosis.campusId == userInfos[i].campusId){
				user = userInfos[i];
			}
		}
		
		$("#campusId2").val(diagnosis.campusId);
		$("#campusId3").val(diagnosis.campusId);
		$("#fullName2").val(user.fullName);
		$("#fullName3").val(user.fullName);
	}
</script>

<script type="text/javascript">
	//实现表格分页
	$("#dataList").bootstrapTable({
		striped: true,//是否显示行间隔色
        cache: false,//是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
		pageNumber : 1, //首页页码
		pagination : true, //是否显示分页条
		pageSize : 5, //默认一页显示的行数
		paginationLoop : false, //是否开启分页条无限循环，最后一页时点击下一页是否转到第一页
		pageList : [ 5, 10, 20 ], //选择每页显示多少行
		search : false, //启用关键字搜索框
		sortable : true// 是否启用排序

	});
</script>

</html>