<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">

<head>
<!-- 页面meta -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>编辑账号信息</title>
<meta
	content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"
	name="viewport">

<style type="text/css">
.body1 {
	background-color: #ECF0F5;
}
</style>

<link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet"
	href="../bower_components/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet"
	href="../bower_components/Ionicons/css/ionicons.min.css">
<link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
<link rel="stylesheet"
	href="../plugins/adminLTE/css/skins/_all-skins.min.css">
<link rel="stylesheet" href="../css/style.css">
<script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
<script src="../plugins/bootstrap/js/bootstrap.min.js"></script>

</head>

<body class="hold-transition skin-red sidebar-mini body1">

	<!-- 内容头部 -->
	<section class="content-header">
		<h1>
			<small></small>
		</h1>
		<ol class="breadcrumb">
			<!-- <li><a href="home"><i class="fa fa-dashboard"></i> 首页</a></li> -->
			<li><i class="fa fa-home"></i>&nbsp;&nbsp;首页</li>
			<li>用户管理</li>
			<li>账号信息管理</li>
			<li class="active">编辑账号</li>
		</ol>
	</section>
	<!-- 内容头部 /-->

	<!-- 正文区域 -->
	<section class="content">

		<div class="col-md-6">

			<!--tab页-->
			<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title">编辑账号</h3>
				</div>

				<form action="../user/accountEdit" role="form" method="post"
					th:onsubmit="'return verify();'">
					<input type="hidden" id="userId" name="userId" class="form-control"
						placeholder="用户编号" th:value="${user.userId}">
					<div class="box-body">
						<div class="form-group col-sm-9">
							<label for="campusId">账号（校内编号）</label> <input type="text"
								class="form-control" id="campusId" name="campusId"
								th:value="${user.campusId}" maxlength="12" readonly="readonly">
						</div>
						<div class="form-group col-sm-9">
							<label for="username">用户名</label> <input type="text"
								class="form-control" id="username" name="username"
								th:value="${user.username}" required="required"> <label
								class="control-label" for="username"><span
								id="usernameCheck"></span></label>
						</div>
						<div class="form-group col-sm-9">
							<label for="userPassword">密码</label> <input type="text"
								class="form-control" id="userPassword" name="userPassword"
								th:value="${user.userPassword}" required="required">
						</div>
					</div>

					<div class="box-footer">
						<button type="submit" class="btn btn-primary">修 改</button>
						&nbsp;&nbsp;
						<button type="reset" class="btn btn-danger">重 置</button>
					</div>
				</form>

			</div>

		</div>

	</section>
	<!-- 正文区域 /-->


</body>
<script type="text/javascript">
	$("#campusId").keyup(function() {//控制输入的账号只能为数字，且第一位不能为0
		var value = $(this);
		//替换非数字字符
		var temp = "";
		if (value.val().length == 1) {
			temp = value.val().replace(/[^1-9]/g, '');
			$(this).val(temp);
		} else if (/[^\d]/.test(value.val())) {
			temp = value.val().replace(/[^\d]/g, '');
			$(this).val(temp);
		}
	})
</script>
<script type="text/javascript">
	var flag = 0;
	$(function() {

		// 使用Ajax异步获取后台用户账号注册情况
		$("#username").keyup(function() {
			var username = this.value;
			// get的方式向后台发送请求，第一个参数为发送的地址，第二个参数为发送的数据，function表示执行成功返回的数据
			$.ajax({
				url : "../user/nameCheack",
				type : "post",
				data : {
					"username" : username
				},
				dataType : "json",

				success : function(num) {
					if (num == "2") {
						$("#usernameCheck").html("<span style='color: red;'>用户名已存在！</span>");
						flag = 0;
					} else {
						$("#usernameCheck").html("<span style='color: green;'>用户名可使用！</span>");
						flag = 1;
					}
				}
			})
		});

	})

	// form表单提交时先进行判断
	function verify() {
		if (flag == 0) {
			alert("用户名已存在");
			return false;
		}
		return true;
	}
</script>
</html>