<!DOCTYPE html>
<html>

<head>
<!-- 页面meta -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>账号信息</title>
<!-- Tell the browser to be responsive to screen width -->
<meta
	content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"
	name="viewport">
<link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
<link rel="stylesheet"
	href="../plugins/adminLTE/css/skins/_all-skins.min.css">
<link rel="stylesheet" href="../css/style.css">
<script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
<script src="../plugins/bootstrap/js/bootstrap.min.js"></script>

</head>

<body class="hold-transition skin-red sidebar-mini">
	<!-- .box-body -->
	<div class="box-header with-border">
		<h3 class="box-title">账号信息</h3>
	</div>

	<div class="box-body">

		<!-- 数据表格 -->
		<div class="table-box">

			<!--工具栏-->
			<div class="pull-left">
				<div class="form-group form-inline">
					<div class="btn-group">
						<button type="button" class="btn btn-default" title="新建"
							data-toggle="modal" data-target="#editModal">
							<i class="fa fa-file-o"></i> 新建
						</button>
						<button type="button" class="btn btn-default" title="删除">
							<i class="fa fa-trash-o"></i> 删除
						</button>
						<button type="button" class="btn btn-default" title="刷新"
							onclick="window.location.reload();">
							<i class="fa fa-refresh"></i> 刷新
						</button>
					</div>
				</div>
			</div>

			<div class="box-tools pull-right">
				<div class="has-feedback">
					账号：<input type="number" id="campusId" name="campusId"
						placeholder="编号" value=""> 用户名： <input type="text"
						id="username" name="username" placeholder="用户名" value="">
					<button class="btn btn-default">查询</button>
				</div>
			</div>
			<!--工具栏/-->

			<!--数据列表-->
			<table id="dataList"
				class="table table-bordered table-striped table-hover dataTable">
				<thead>
					<tr>
						<th class="" style="padding-right: 0px"><input id="selall"
							type="checkbox" class="icheckbox_square-blue"></th>
						<th class="sorting_asc">编号</th>
						<th class="sorting">账号</th>
						<th class="sorting">密码</th>
						<th class="sorting">用户名</th>
						<th class="sorting">对应的角色ID</th>

						<th class="text-center">操作</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><input type="checkbox"></td>
						<td>1</td>
						<td>梦琪琪商贸有限公司</td>
						<td>梦琪琪</td>
						<td>李梦琪</td>
						<td>13402312232</td>

						<td class="text-center">
							<button type="button" class="btn bg-olive btn-xs"
								data-toggle="modal" data-target="#editModal">编辑</button>
							<button type="button" onclick="viewPermission('${user.name}')"
								class="btn bg-olive btn-xs" data-toggle="modal"
								data-target="#editModal">查看权限</button>
						</td>
					</tr>
					<tr>
						<td><input type="checkbox"></td>
						<td>2</td>
						<td>黑瞎子苹果专卖店</td>
						<td>黑瞎子</td>
						<td>孙大鹏</td>
						<td>13622244111</td>

						<td class="text-center">
							<button type="button" class="btn bg-olive btn-xs"
								data-toggle="modal" data-target="#editModal">编辑</button>
						</td>
					</tr>
				</tbody>
			</table>
			<!--数据列表/-->


		</div>
		<!-- 数据表格 /-->



	</div>
	<!-- /.box-body -->


	<!-- 编辑窗口 -->
	<div class="modal fade" id="editModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">×</button>
					<h3 id="myModalLabel">账号编辑</h3>
				</div>
				<div class="modal-body">

					<table class="table table-bordered table-striped" width="800px">
						<tr>
							<td>账号</td>
							<td><input type="number" id="campusId" name="campusId"
								class="form-control" placeholder="账号"></td>
						</tr>
						<tr>
							<td>密码</td>
							<td><input type="text" id="userPassword" name="userPassword"
								class="form-control" placeholder="密码"></td>
						</tr>
						<tr>
							<td>用户名</td>
							<td><input type="text" id="username" name="username"
								class="form-control" placeholder="用户名"></td>
						</tr>
						<tr>
							<td>对应的角色ID</td>
							<td><input type="number" id="roleId" name="roleId"
								class="form-control" placeholder="对应的角色ID"></td>
						</tr>
					</table>

				</div>
				<div class="modal-footer">
					<button class="btn btn-success" data-dismiss="modal"
						aria-hidden="true">保存</button>
					<button class="btn btn-default" data-dismiss="modal"
						aria-hidden="true">关闭</button>
				</div>
			</div>
		</div>
	</div>

	<!-- 查看用户角色权限窗口 -->
	<div class="modal fade" id="editModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">×</button>
					<h3 id="myModalLabel">权限列表</h3>
				</div>
				<div class="modal-body" id="roleList">
					<table class="table table-bordered" width="800px">
						<thead>
							<tr>
								<th>角色
								</td>
								<th>权限</th>
							</tr>
						</thead>
						<tbody id="roleListBody">
						</tbody>
					</table>
				</div>
				<div class="modal-footer">
					<button class="btn btn-default" data-dismiss="modal"
						aria-hidden="true">关闭</button>
				</div>
			</div>
		</div>
		<script type="text/javascript">
			//查看当前员工的角色和权限列表
			function viewPermission(user_name) {
				$.ajax({
					url : 'viewPermissionByUser',
					type : 'post',
					data : {
						userName : user_name
					},
					dataType : 'json',
					success : function(sysRole) {
						//先清空原来的内容
						$("#roleListBody").empty();

						var role_td = "<td>" + sysRole.name + "</td>";
						var permission_td = "<td>";
						var permission_list = sysRole.permissionList;
						$.each(permission_list, function(i, perm) {
							permission_td += perm.name + "【" + perm.type
									+ "】 <br/>"
						});
						permission_td += "</td>";

						var roleRow = $("<tr>" + role_td + permission_td
								+ "</tr>");
						$("#roleListBody").append($(roleRow));
					},
					error : function(req, error) {
						alert(req.status + ':' + error);
					}
				});
			}

			//重新分配待办人
			function assignRole(rid, uname) {
				var url = "assignRole";
				var params = {
					roleId : rid,
					userId : uname
				};
				$.getJSON(url, params, function(result) {
					alert(result.msg);
					role = rid;
				});
			}

			$(function() {
				var levelNo = $("select[name=role]").val();
				getNextManager(levelNo);
			})

			//根据员工级别查找下一级别主管
			function getNextManager(levelNo) {
				var url = "findNextManager";
				var params = {
					level : levelNo
				};
				$.getJSON(url, params, function(managerList) {
					$("#selManager").empty();
					$.each(managerList, function(i, manager) {
						var opt = $("<option value='"+manager.id+"'>"
								+ manager.name + "</option>");
						$("#selManager").append($(opt));
					});
				});
			}
		</script>
	</div>
</body>

<script>
	//实现表格分页
	$("#tb").bootstrapTable({
		//点击行事件,element为被点击行的tr元素对象
		onClickRow : function(row, $element) {
			$element.each(function() {
				//获取所有td的值
				var tds = $(this).find("td")
				/* var id = tds.eq(0).text()
				var title = tds.eq(1).text()
				var remark = tds.eq(2).text()
				var money = tds.eq(3).text()
				var creatdate = tds.eq(4).text()
				var state = tds.eq(5).text() */
			})
		},
		pageNumber : 1, //首页页码
		pagination : true, //是否显示分页条
		pageSize : 5, //默认一页显示的行数
		paginationLoop : false, //是否开启分页条无限循环，最后一页时点击下一页是否转到第一页
		pageList : [ 5, 10, 20 ], //选择每页显示多少行
		search : true, //启用关键字搜索框
		sortable : true
	// 是否启用排序

	});
</script>

</html>