<!DOCTYPE html>
<html>

<head>
<!-- 页面meta -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>编辑账号信息</title>
<!-- Tell the browser to be responsive to screen width -->
<meta
	content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"
	name="viewport">

<link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
<link rel="stylesheet"
	href="../plugins/adminLTE/css/skins/_all-skins.min.css">
<link rel="stylesheet" href="../css/style.css">
<script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
<script src="../plugins/bootstrap/js/bootstrap.min.js"></script>


</head>

<body class="hold-transition skin-red sidebar-mini">

	<!-- 正文区域 -->
	<section class="content">

		<div class="box-body">

			<!--tab页-->
			<div class="nav-tabs-custom">

				<!--tab头-->
				<ul class="nav nav-tabs">

					<li class="active"><a href="#home" data-toggle="tab">编辑账号</a>
					</li>
				</ul>
				<!--tab头/-->

				<!--tab内容-->
				<div class="tab-content">

					<!--表单内容-->
					<div class="tab-pane active" id="home">
						<div class="row data-type">

							<div class="col-md-2 title">编号</div>
							<div class="col-md-10 data">
								<input type="text" id="campusId" name="campusId"
									class="form-control" placeholder="编号" value="" maxlength="12">
							</div>

							<div class="col-md-2 title">密码</div>
							<div class="col-md-10 data">
								<input type="text" id="userPassword" name="userPassword"
									class="form-control" placeholder="密码" value="">
							</div>

							<div class="col-md-2 title">用户名</div>
							<div class="col-md-10 data">
								<input type="text" id="username" name="username"
									class="form-control" placeholder="用户名" value="">
							</div>

						</div>
					</div>


				</div>
				<!--tab内容/-->
				<!--表单内容/-->

			</div>



		</div>
		<div class="btn-toolbar list-toolbar">
			<button class="btn btn-primary">
				<i class="fa fa-save"></i>修改
			</button>
			<a data-toggle="modal" class="btn btn-danger">重置</a>
		</div>

	</section>
	<!-- 正文区域 /-->


</body>
<script type="text/javascript">
	$("#campusId").keyup(function() {//控制输入的账号只能为数字，且第一位不能为0
		var value = $(this);
		//替换非数字字符
		var temp = "";
		if (value.val().length == 1) {
			temp = value.val().replace(/[^1-9]/g, '');
			$(this).val(temp);
		} else if (/[^\d]/.test(value.val())) {
			temp = value.val().replace(/[^\d]/g, '');
			$(this).val(temp);
		}
	})
</script>
</html>