<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<!-- 页面meta -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>账号信息</title>
<!-- Tell the browser to be responsive to screen width -->
<meta
	content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"
	name="viewport">
	
<link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet"
	href="../bower_components/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet"
	href="../bower_components/Ionicons/css/ionicons.min.css">
<link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
<link rel="stylesheet"
	href="../plugins/adminLTE/css/skins/_all-skins.min.css">
<link rel="stylesheet" href="../css/style.css">
<script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
<script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="../bootstrap/css/bootstrap-table.min.css">
<script src="../bootstrap/js/bootstrap-table.min.js"></script>
<script src="../bootstrap/js/bootstrap-table-zh-CN.min.js"></script>

</head>

<body class="hold-transition skin-red sidebar-mini">

	<!-- 内容头部 -->
	<section class="content-header">
		<h1>
			<small></small>
		</h1>
		<ol class="breadcrumb">
			<!-- <li><a href="home"><i class="fa fa-dashboard"></i> 首页</a></li> -->
			<li><i class="fa fa-home"></i>&nbsp;&nbsp;首页</li>
			<li>用户管理</li>
			<li>账号信息管理</li>
			<li class="active">账号信息</li>
		</ol>
	</section>
	<!-- 内容头部 /-->

	<!-- .box-body -->
	<div class="box-header with-border">
		<h3 class="box-title">账号信息</h3>
	</div>

	<div class="box-body">

		<!-- 数据表格 -->
		<div class="table-box">

			<!--工具栏-->
			<div class="pull-left">
				<div class="form-group form-inline">
					<div class="btn-group">
						<!-- <button type="button" class="btn btn-default" title="新建"
							data-toggle="modal" data-target="#addModal">
							<i class="fa fa-file-o"></i> 新建
						</button> -->
						<button type="button" class="btn btn-default" id="delete" title="删除">
							<i class="fa fa-trash-o"></i> 删除
						</button>
						<button type="button" class="btn btn-default" title="刷新"
							onclick="window.location.reload();">
							<i class="fa fa-refresh"></i> 刷新
						</button>
					</div>
				</div>
			</div>

			<div class="box-tools pull-right">
				<div class="has-feedback">
					<span th:if="${user==null}">账号：<input type="text" id="campusIdFind" name="campusId"
						placeholder="编号"  maxlength="12"> 用户名： <input
						type="text" id="usernameFind" name="username" placeholder="用户名"
						></span>
						<span th:if="${user!=null}">账号：<input type="text" id="campusIdFind" name="campusId"
						placeholder="编号" th:value="${user.campusId}" maxlength="12"> 用户名： <input
						type="text" id="usernameFind" name="username" placeholder="用户名"
						th:value="${user.username}"></span>
					<button id="query" class="btn btn-default">查询</button>
				</div>
			</div>
			<!--工具栏/-->

			<!--数据列表-->
			<table id="dataList"
				class="table table-bordered table-striped table-hover dataTable">
				<thead>
					<tr>
						<th class="" style="padding-right: 0px"><input id="selall" name="box"
							type="checkbox" class="icheckbox_square-blue" onclick="setChecked(this)"></th>
						<th class="sorting_asc">用户编号</th>
						<th class="sorting">账号</th>
						<th class="sorting">密码</th>
						<th class="sorting">用户名</th>
						<th class="sorting">角色</th>

						<th class="text-center">操作</th>
					</tr>
				</thead>
				<tbody id="tb" th:if="${users!=null&&users.size()>0}">
					<tr th:each="user:${users}" name="trCheck">
						<td><input type="checkbox" name="box" th:value="${user.userId}" onclick="setChecked(this)"></td>
						<td th:text="${user.userId}"></td>
						<td th:text="${user.campusId}"></td>
						<td th:text="${user.userPassword}"></td>
						<td th:text="${user.username}"></td>
						<td>
							<select class="form-control" th:onchange="assignRole(this.value,[[${user.campusId}]])">
								<option>未分配</option>
								<option th:each="role:${roles}" th:value="${role.roleId}"
										th:text="${role.roleName}"  th:selected="${user.roleId}==${role.roleId}?true:false"></option>
							</select>
						</td>

						<td class="text-center">
							<button type="button" class="btn bg-olive btn-xs"
								data-toggle="modal" data-target="#editModal"
								th:onclick="fillTable([[${user}]])">编辑</button>&nbsp;
							<button type="button" th:onclick="viewPermission([[${user.campusId}]])"
								class="btn bg-olive btn-xs" data-toggle="modal"
								data-target="#viewModal">查看权限</button>
						</td>
					</tr>
				</tbody>
			</table>
			<!--数据列表/-->

		</div>
		<!-- 数据表格 /-->

	</div>
	<!-- /.box-body -->


	<!-- 新建窗口 -->
	<!-- <div class="modal fade" id="addModal" tabindex="-1" role="dialog"
		aria-labelledby="addModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">×</button>
					<h3 id="addModalLabel">新建账号</h3>
				</div>
				<form action="../user/accountadd" method="post">
					<div class="modal-body">
						<table class="table table-bordered table-striped" width="800px">
							<tr>
								<td>账号</td>
								<td><input type="text" id="campusId" name="campusId"
									class="form-control" maxlength="12"></td>
							</tr>
							<tr>
								<td>密码</td>
								<td><input type="text" id="userPassword"
									name="userPassword" class="form-control"></td>
							</tr>
							<tr>
								<td>用户名</td>
								<td><input type="text" id="username" name="username"
									class="form-control"></td>
							</tr>
							<tr>
								<td>对应的角色ID</td>
								<td><input type="number" id="roleId" name="roleId"
									class="form-control"></td>
							</tr>
						</table>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-success">保 存</button>
						<button class="btn btn-default" data-dismiss="modal"
							aria-hidden="true">关 闭</button>
					</div>
				</form>
			</div>
		</div>
	</div> -->


	<!-- 编辑窗口 -->
	<div class="modal fade" id="editModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">×</button>
					<h3 id="myModalLabel">账号编辑</h3>
				</div>
				<form action="../user/accountEdit" method="post" onsubmit="return verify()">
					<input type="hidden" id="userId2" name="userId"
						class="form-control">
					<div class="modal-body">
						<table class="table table-bordered table-striped" width="800px">
							<tr>
								<td>账号</td>
								<td><input type="text" id="campusId2" name="campusId"
									class="form-control" maxlength="12" readonly="readonly"></td>
								<td><span id="campusIdCheck"></span></td>
							</tr>
							<tr>
								<td>密码</td>
								<td><input type="text" id="userPassword2"
									name="userPassword" class="form-control"></td>
							</tr>
							<tr>
								<td>用户名</td>
								<td><input type="text" id="username2" name="username"
									class="form-control"></td>
								<td><span id="usernameCheck"></span></td>
							</tr>
							<tr>
								<td>角色</td>
								<td><select id="roleId" name="roleId"  class="form-control">
									<option value="">未分配</option>
									<option th:each="role:${roles}" th:value="${role.roleId}" 
											th:text="${role.roleName}"></option>
								</select></td>
							</tr>
						</table>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-success">保 存</button>
						<button class="btn btn-default" data-dismiss="modal"
							aria-hidden="true">关 闭</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<!-- 查看用户角色权限窗口 -->
	<div class="modal fade" id="viewModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">×</button>
					<h3 id="myModalLabel">权限列表</h3>
				</div>
				<div class="modal-body" id="roleList">
					<table class="table table-bordered" width="800px">
						<thead>
							<tr>
								<th>角色
								</td>
								<th>权限</th>
							</tr>
						</thead>
						<tbody id="roleListBody">
						</tbody>
					</table>
				</div>
				<div class="modal-footer">
					<button class="btn btn-default" data-dismiss="modal"
						aria-hidden="true">关闭</button>
				</div>
			</div>
		</div>

	</div>
</body>

<script type="text/javascript">
	$("#campusId,#campusIdFind").keyup(function() {//控制输入的账号只能为数字
		var value = $(this);
		//替换非数字字符
		var temp = "";
		if (value.val().length == 1) {
			temp = value.val().replace(/[^1-9]/g, '');
			$(this).val(temp);
		} else if (/[^\d]/.test(value.val())) {
			temp = value.val().replace(/[^\d]/g, '');
			$(this).val(temp);
		}
	})
	
	
	//重新分配角色权限
	function assignRole(rid, id) {
		var url = "../role/assignRole";
		var params = {
			campusId : id,
			roleId : rid
		};
		$.getJSON(url, params, function(result) {
			alert(result.msg);
		});
	}
	
	var flag = 0;
	$(function() {
		
		// 使用Ajax异步获取后台用户账号注册情况
		/* $("#campusId2").keyup(function() {
			var campusId = $("#campusId2").val();
			
			var value = $(this);
			//替换非数字字符
			var temp = "";
			if (value.val().length == 1) {
				temp = value.val().replace(/[^1-9]/g, '');
				$(this).val(temp);
			} else if (/[^\d]/.test(value.val())) {
				temp = value.val().replace(/[^\d]/g, '');
				$(this).val(temp);
			}
			
			// get的方式向后台发送请求，第一个参数为发送的地址，第二个参数为发送的数据，function表示执行成功返回的数据
			$.ajax({
				url: "../user/idCheack",
				type: "post",
				data: {"campusId":campusId},
				dataType: "json",
				
				success: function(num) {
					if (num == "1") {
						$("#campusIdCheck").html("<span style='color: red;'>账号已存在！</span>");
						flag = 1;
					} else {
						$("#campusIdCheck").html("<span style='color: green;'>账号可使用！</span>");
						if(flag != 2){
							flag = 0;
						}
					}
				}
			})
		}); */
		$("#username2").keyup(function() {
			var username = $("#username2").val();
			// get的方式向后台发送请求，第一个参数为发送的地址，第二个参数为发送的数据，function表示执行成功返回的数据
			$.ajax({
				url: "../user/nameCheack",
				type: "post",
				data: {"username":username},
				dataType: "json",
				
				success: function(num) {
					if(num == "2") {
						$("#usernameCheck").html("<span style='color: red;'>用户名已存在！</span>");
						flag = 2;
					} else {
						$("#usernameCheck").html("<span style='color: green;'>用户名可使用！</span>");
						if(flag != 1){
							flag = 0;
						}
					}
				}
			})
		});

	})
	
	// form表单提交时先进行判断
	function verify() {
		/* if (flag == 1) {
			alert("账号已存在");
			return false;
		} */
		if (flag == 2) {
			alert("用户名已存在");
			return false;
		}
		return true;
	}
	
</script>

<script type="text/javascript">
	
	/** 给全选按钮绑定点击事件  */
    function setChecked(obj) {
	    var boxs=document.getElementsByName("box");//获取到复选框的名称
	    
		//全选
		//JS的if判断中Undefined类型视为false，其他类型视为true；
		//obj.id是定义过的值，类型为非Undefined，所以视为true。
	    if(obj.id) {
			for(var i=1;i<boxs.length;i++) {
			//若全选框的结果为选中，则进行全选操作,否则进入下一步
			//obj.checked表示复选框当前状态，已选为true，未选为false。
			    if(obj.checked == true) {
					var box = boxs[i];
					box.checked = true;
				}
			}
			
			//全不选
			for(var i=1;i<boxs.length;i++) {
				//若全选框的结果为没选中，则进行全不选操作,否则进入下一步	
				if(obj.checked == false) {
					var box = boxs[i];
					box.checked = false;
				}
			}
		}else {
			var cheakFlag = 1;
			for(var i=1;i<boxs.length;i++) {
			    if(!boxs[i].checked) {
			    	cheakFlag = 0;
			    	break;
			    }
			}
			if(cheakFlag==1){//若子选择全选，全选框也选中。
				boxs[0].checked = true;
			}else{//若子选项没有全选，全选框不选中。
				boxs[0].checked = false;
			}
		}
	}
	
    $(function(){
    	// 加载表格数据
    	//doAjax();
    	
	    /** 给数据行绑定鼠标覆盖以及鼠标移开事件  */
	    $(document).on("mouseover mouseout","tr[name='trCheck']",function(event){
	    	if(event.type == "mouseover"){
			  	//鼠标悬浮
	    		$(this).css("backgroundColor","#DCDCDC");
			 }else if(event.type == "mouseout"){
			  	//鼠标离开
				$(this).css("backgroundColor","#ffffff");
			 }
	    })
	
	   /** 删除绑定点击事件 */
	   $("#delete").click(function(){
		   /** 获取到用户选中的复选框  */
		   var checkedBoxs = $("input[name='box']:checked");
		   if(checkedBoxs.length < 1){
			   alert("请选择需要删除的账号！");
		   }else{
			  if(confirm("请确定是否删除选中账号？")){
				var ids = checkedBoxs.map(function() {
					return this.value;
				})
				window.location.href = "../user/accountDel?ids="+ids.toArray().join(",");
			  }
		   }
	   })
	   
	   /** 查询绑定点击事件 */
	   $("#query").click(function(){
		   //doAjax();
		   findAccount();
	   })
	})

	// 查询账号信息
	function findAccount(){
    	var campusId = $("#campusIdFind").val();
		var username = $("#usernameFind").val();
    	window.location.href = "../user/findAccount?campusId="+campusId+"&username="+username;
    }
	
	// 利用Ajax实现分页
	function doAjax(){
    	var campusId = $("#campusIdFind").val();
		var username = $("#usernameFind").val();
		   
		   // 异步获取查询数据
		/* if (campusId == "" && username == "" ) {
			$.ajax({
				url: "../user/accountlist",
				type: "get",
				data: {},
				dataType: "json",
				success: function(list){
					show(list);
				}
			})
		}else { */
			$.ajax({
				url: "../user/findAccount",
				type: "get",
				data: {"campusId":campusId, "username":username},
				dataType: "json",
				success: function(map){
					show(map);
				}
			})
		//}
		
	}
    
	function show(map){
		var users = map.users; //获取到map中的users集合
		var roles = map.roles; //获取到map中的roles集合
		
		// 先清空原来的内容
		$("#tb").empty();
		var user_tr = "<tr name='trCheck'>";
		if(users!=null && users.length>0){
			// 拼接内容
			$.each(users, function(i, user) {
				user_tr += "<td><input type='checkbox' name='box' th:value='"+ user.userId +"' onclick='setChecked(this)'>";
				user_tr += "</td><td>";
				user_tr += user.userId;
				user_tr += "</td><td>";
				user_tr += user.campusId;
				user_tr += "</td><td>";
				user_tr += user.userPassword;
				user_tr += "</td><td>";
				user_tr += user.username;
				user_tr += "</td><td>";
				user_tr += "<select class='form-control' th:onchange='assignRole(this.value,"+user.campusId+")'>";
				$.each(roles, function(i, role) {
					user_tr += "<option value="+ role.roleId;
					if(user.roleId == role.roleId){
						user_tr += " selected>"+ role.roleName +"</option>";
					}else{
						user_tr += ">"+ role.roleName +"</option>";
					}
				})
				user_tr += "</select></td><td class='text-center'>";
				user_tr += "<button type='button' class='btn bg-olive btn-xs'";
				user_tr += "data-toggle='modal' data-target='#editModal'";
				user_tr += "onclick='fillTable("+ user +")'>编辑</button>&nbsp;&nbsp;";
				user_tr += "<button type='button' onclick='viewPermission("+ user.campusId +")'";
				user_tr += "class='btn bg-olive btn-xs' data-toggle='modal'";
				user_tr += "data-target='#viewModal'>查看权限</button></td></tr>";
			});
		}else{
			user_tr =  "<tr style='text-align: center;'><td colspan='7'>没有查询到相关记录！</td></tr>";
		}
		
		$("#tb").html(user_tr);
		//var roleRow = $("<tr>" + role_td + permission_td + "</tr>");
		//$("#roleListBody").append($(roleRow));
		
	}
</script>


<script th:inline="javascript">
	// 设置表单的默认值
	function fillTable(user) {
		$("#userId2").val(user.userId);
		$("#campusId2").val(user.campusId);
		$("#userPassword2").val(user.userPassword);
		$("#username2").val(user.username);
		// 先清空角色权限的值
		$("#roleId").val("");
		if(user.roleId!=null && user.roleId!=""){
			$("#roleId").val(user.roleId);
		}
	}
	
</script>

<script type="text/javascript">
	//查看当前员工的角色和权限列表
	function viewPermission(campusId) {
		$.ajax({
			url : '../role/viewPermissionById',
			type : 'post',
			data : {
				id : campusId
			},
			dataType : 'json',
			success : function(role) {
				//先清空原来的内容
				$("#roleListBody").empty();
				
				if(role!=null && role.roleName!=null){
					var role_td = "<td>" + role.roleName + "</td>";
					var permission_td = "<td>";
					var permission_list = role.permissionList;
					$.each(permission_list, function(i, permission) {
						permission_td += permission.permissionName + "【" + permission.permissionType + "】 <br/>"
					});
					permission_td += "</td>";

					var roleRow = $("<tr>" + role_td + permission_td + "</tr>");
					$("#roleListBody").append($(roleRow));
				} else {
					
				}
				
			},
			error : function(req, error) {
				if(req.status == 200){
					alert("该账号未分配角色权限！");
				}else{
					alert(req.status + ':' + error);
				}
			}
		});
	}
</script>

<script type="text/javascript">

	//实现表格分页
	$("#dataList").bootstrapTable({
        striped: true,//是否显示行间隔色
        cache: false,//是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
		pageNumber : 1, //首页页码
		pagination : true, //是否显示分页条
		pageSize : 5, //默认一页显示的行数
		paginationLoop : false, //是否开启分页条无限循环，最后一页时点击下一页是否转到第一页
		pageList : [ 5, 10, 20 ], //选择每页显示多少行
		search : false, //启用关键字搜索框
		sortable : true,// 是否启用排序
		sortOrder: "asc",//排序方式
        sidePagination: "client",//分页方式：client客户端分页，server服务端分页（*）
        clickToSelect: true,//是否启用点击选中行
        
	});
	
</script>

</html>