<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<!-- 页面meta -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>账号信息</title>
<!-- Tell the browser to be responsive to screen width -->
<meta
	content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"
	name="viewport">
<link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
<link rel="stylesheet" href="../css/content.css">
<link rel="stylesheet"
	href="../plugins/adminLTE/css/skins/_all-skins.min.css">
<link rel="stylesheet" href="../css/style.css">
<script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
<script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="../bootstrap/css/bootstrap-table.min.css">
<script src="../bootstrap/js/bootstrap-table.min.js"></script>
<script src="../bootstrap/js/bootstrap-table-zh-CN.min.js"></script>

<script type="text/javascript">
	
	/** 给全选按钮绑定点击事件  */
    function setChecked(obj) {
	    var boxs=document.getElementsByName("box");//获取到复选框的名称
	    
		//全选
		//JS的if判断中Undefined类型视为false，其他类型视为true；
		//obj.id是定义过的值，类型为非Undefined，所以视为true。
	    if(obj.id) {
			for(var i=1;i<boxs.length;i++) {
			//若全选框的结果为选中，则进行全选操作,否则进入下一步
			//obj.checked表示复选框当前状态，已选为true，未选为false。
			    if(obj.checked == true) {
					var box = boxs[i];
					box.checked = true;
				}
			}
			
			//全不选
			for(var i=1;i<boxs.length;i++) {
				//若全选框的结果为没选中，则进行全不选操作,否则进入下一步	
				if(obj.checked == false) {
					var box = boxs[i];
					box.checked = false;
				}
			}
		}else {
			var cheakFlag = 1;
			for(var i=1;i<boxs.length;i++) {
			    if(!boxs[i].checked) {
			    	cheakFlag = 0;
			    	break;
			    }
			}
			if(cheakFlag==1){//若子选择全选，全选框也选中。
				boxs[0].checked = true;
			}else{//若子选项没有全选，全选框不选中。
				boxs[0].checked = false;
			}
		}
	}
	
    $(function(){
    	// 加载表格数据
    	doAjax();
    	
	    /** 给数据行绑定鼠标覆盖以及鼠标移开事件  */
	    $(document).on("mouseover mouseout","tr[name='trCheck']",function(event){
	    	if(event.type == "mouseover"){
			  	//鼠标悬浮
	    		$(this).css("backgroundColor","#DCDCDC");
			 }else if(event.type == "mouseout"){
			  	//鼠标离开
				$(this).css("backgroundColor","#ffffff");
			 }
	    })
	
	   /** 删除绑定点击事件 */
	   $("#delete").click(function(){
		   /** 获取到用户选中的复选框  */
		   var checkedBoxs = $("input[name='box']:checked");
		   if(checkedBoxs.length < 1){
			   alert("请选择需要删除的用户！");
		   }else{
			  if(confirm("请确定是否删除该用户吗？")){
				var ids = checkedBoxs.map(function() {
					return this.value;
				})
				window.location.href = "../user/accountdel?ids="+ids.toArray().join(",");
			  }
		   }
	   })
	   
	   /** 查询绑定点击事件 */
	   $("#query").click(function(){
		   doAjax();
	   })
	})

	// 利用Ajax实现分页
	function doAjax(){
    	var campusId = $("#campusIdFind").val();
		   var username = $("#usernameFind").val();
		   // 异步获取查询数据
		   $.ajax({
			   url: "../user/accountlist",
			   type: "get",
			   data: {"campusId":campusId,"username":username},
			   dataType: "json",
			   success: function(){
				   
			   }
		   })
    	
		var account = $("[name=account]").val();
		var username = $("[name=username]").val();
		var status = $("[name=status]").val();
		if (account == "" && username == "" && status == "") {
			$.ajax({
				url: "${path }/userlist.action",
				type: "get",
				data: {"usercheck":4,"pageNow":pageNow},
				dataType: "json",
				success: function(pb){
					show(pb);
				}
			})
		}else {
			$.ajax({
				url: "${path }/userlist.action",
				type: "get",
				data: {"usercheck":4, "pageNow":pageNow, "account":account, "username":username, "status":status},
				dataType: "json",
				success: function(pb){
					show(pb);
				}
			})
		}
		
	}
	function show(pb){
		var list = pb.list; //获取到pb中的list集合
		var tr = "";
		var status = "";
		tr = "<tr class='main_trbg_tit' align='center'>"
			+"<td><input type='checkbox' name='checkAll' id='checkAll'></td>"
			+"<td>账号</td>"
			+"<td>密码</td>"
			+"<td>用户名</td>"
			+"<td>状态</td>"
			+"<td>创建时间</td>"
			+"<td align='center'>操作</td></tr>"
		if (list.length>0) {
			for (var i = 0; i < list.length; i++) {
				if (list[i].status==1) {
					status = "已审核（1）";
				}else {
					status = "未审核（0）";
				}
				tr = tr + "<tr id=data_"+i+" align='center' class='main_trbg' >"
				+"<td><input type='checkbox' id='box_"+i+"'"
				+"value="+list[i].id +" name='userIds' /></td>"
				+"<td>"+list[i].account +"</td>"
				+"<td>"+list[i].password +"</td>"
				+"<td>"+list[i].username +"</td>"
				+"<td>"+status +"</td>"
				+"<td>"+list[i].createdate +"</td>"
				+"<td align='center' width='40px;'>"
				+"<a href='${path}/useredit.action?id="+list[i].id +"'>"
				+"<img title=' 修 改 ' src='${path}/images/update.gif' /></a></td>"
				+"</tr>";
			}
		}else {
			tr = tr + "<tr style='text-align: center;'><td colspan='7'>没有查询到相关记录！</td></tr>";
		}
		$("#tb").html(tr);
		pageing(pb);
	}
</script>

</head>

<body class="hold-transition skin-red sidebar-mini">
	<!-- .box-body -->
	<div class="box-header with-border">
		<h3 class="box-title">账号信息</h3>
	</div>

	<div class="box-body">

		<!-- 数据表格 -->
		<div class="table-box">

			<!--工具栏-->
			<div class="pull-left">
				<div class="form-group form-inline">
					<div class="btn-group">
						<!-- <button type="button" class="btn btn-default" title="新建"
							data-toggle="modal" data-target="#addModal">
							<i class="fa fa-file-o"></i> 新建
						</button> -->
						<button type="button" class="btn btn-default" id="delete" title="删除">
							<i class="fa fa-trash-o"></i> 删除
						</button>
						<button type="button" class="btn btn-default" title="刷新"
							onclick="window.location.reload();">
							<i class="fa fa-refresh"></i> 刷新
						</button>
					</div>
				</div>
			</div>

			<div class="box-tools pull-right">
				<div class="has-feedback">
					账号：<input type="text" id="campusIdFind" name="campusId"
						placeholder="编号" value="" maxlength="12"> 用户名： <input
						type="text" id="usernameFind" name="username" placeholder="用户名"
						value="">
					<button id="query" class="btn btn-default">查询</button>
				</div>
			</div>
			<!--工具栏/-->

			<!--数据列表-->
			<table id="dataList"
				class="table table-bordered table-striped table-hover dataTable">
				<thead>
					<tr>
						<th class="" style="padding-right: 0px"><input id="selall" name="box"
							type="checkbox" class="icheckbox_square-blue" onclick="setChecked(this)"></th>
						<th class="sorting_asc">用户编号</th>
						<th class="sorting">账号</th>
						<th class="sorting">密码</th>
						<th class="sorting">用户名</th>
						<th class="sorting">角色</th>

						<th class="text-center">操作</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="user:${users}" name="trCheck">
						<td><input type="checkbox" name="box" th:value="${user.userId}" onclick="setChecked(this)"></td>
						<td th:text="${user.userId}"></td>
						<td th:text="${user.campusId}"></td>
						<td th:text="${user.userPassword}"></td>
						<td th:text="${user.username}"></td>
						<td>
							<select class="form-control" th:onchange="assignRole(this.value,[[${user.campusId}]])">
										<option th:each="role:${roles}" th:value="${role.roleId}"
												th:text="${role.roleName}"  th:selected="${user.roleId}==${role.roleId}?true:false"></option>
							</select>
						</td>

						<td class="text-center">
							<button type="button" class="btn bg-olive btn-xs"
								data-toggle="modal" data-target="#editModal"
								th:onclick="fillTable([[${user}]])">编辑</button>
							<button type="button" th:onclick="viewPermission([[${user.campusId}]])"
								class="btn bg-olive btn-xs" data-toggle="modal"
								data-target="#viewModal">查看权限</button>
						</td>
					</tr>
				</tbody>
			</table>
			<!--数据列表/-->

		</div>
		<!-- 数据表格 /-->

	</div>
	<!-- /.box-body -->


	<!-- 新建窗口 -->
	<!-- <div class="modal fade" id="addModal" tabindex="-1" role="dialog"
		aria-labelledby="addModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">×</button>
					<h3 id="addModalLabel">新建账号</h3>
				</div>
				<form action="../user/accountadd" method="post">
					<div class="modal-body">
						<table class="table table-bordered table-striped" width="800px">
							<tr>
								<td>账号</td>
								<td><input type="text" id="campusId" name="campusId"
									class="form-control" maxlength="12"></td>
							</tr>
							<tr>
								<td>密码</td>
								<td><input type="text" id="userPassword"
									name="userPassword" class="form-control"></td>
							</tr>
							<tr>
								<td>用户名</td>
								<td><input type="text" id="username" name="username"
									class="form-control"></td>
							</tr>
							<tr>
								<td>对应的角色ID</td>
								<td><input type="number" id="roleId" name="roleId"
									class="form-control"></td>
							</tr>
						</table>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-success">保 存</button>
						<button class="btn btn-default" data-dismiss="modal"
							aria-hidden="true">关 闭</button>
					</div>
				</form>
			</div>
		</div>
	</div> -->


	<!-- 编辑窗口 -->
	<div class="modal fade" id="editModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">×</button>
					<h3 id="myModalLabel">账号编辑</h3>
				</div>
				<form action="../user/accountedit" method="post">
					<input type="hidden" id="userId2" name="userId"
						class="form-control">
					<div class="modal-body">
						<table class="table table-bordered table-striped" width="800px">
							<tr>
								<td>账号</td>
								<td><input type="text" id="campusId2" name="campusId"
									class="form-control" maxlength="12"></td>
							</tr>
							<tr>
								<td>密码</td>
								<td><input type="text" id="userPassword2"
									name="userPassword" class="form-control"></td>
							</tr>
							<tr>
								<td>用户名</td>
								<td><input type="text" id="username2" name="username"
									class="form-control"></td>
							</tr>
							<tr>
								<td>角色</td>
								<td><select id="roleId" name="roleId"  class="form-control">
										<option th:each="role:${roles}" th:value="${role.roleId}" 
												th:text="${role.roleName}"></option>
								</select></td>
							</tr>
						</table>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-success">保 存</button>
						<button class="btn btn-default" data-dismiss="modal"
							aria-hidden="true">关 闭</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<!-- 查看用户角色权限窗口 -->
	<div class="modal fade" id="viewModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">×</button>
					<h3 id="myModalLabel">权限列表</h3>
				</div>
				<div class="modal-body" id="roleList">
					<table class="table table-bordered" width="800px">
						<thead>
							<tr>
								<th>角色
								</td>
								<th>权限</th>
							</tr>
						</thead>
						<tbody id="roleListBody">
						</tbody>
					</table>
				</div>
				<div class="modal-footer">
					<button class="btn btn-default" data-dismiss="modal"
						aria-hidden="true">关闭</button>
				</div>
			</div>
		</div>

	</div>
</body>

<script type="text/javascript">
	$("#campusId,#campusId2,#campusIdFind").keyup(function() {//控制输入的账号只能为数字
		var value = $(this);
		//替换非数字字符
		var temp = "";
		if (value.val().length == 1) {
			temp = value.val().replace(/[^1-9]/g, '');
			$(this).val(temp);
		} else if (/[^\d]/.test(value.val())) {
			temp = value.val().replace(/[^\d]/g, '');
			$(this).val(temp);
		}
	})
	
	
	//重新分配角色权限
	function assignRole(rid, id) {
		var url = "../role/assignRole";
		var params = {
			campusId : id,
			roleId : rid
		};
		$.getJSON(url, params, function(result) {
			alert(result.msg);
		});
	}
</script>

<script th:inline="javascript">
	// 设置表单的默认值
	function fillTable(user) {
		$("#userId2").val(user.userId);
		$("#campusId2").val(user.campusId);
		$("#userPassword2").val(user.userPassword);
		$("#username2").val(user.username);
		$("#roleId").val(user.roleId);
	}
	
</script>

<script type="text/javascript">
	//查看当前员工的角色和权限列表
	function viewPermission(campusId) {
		$.ajax({
			url : '../role/viewPermissionById',
			type : 'post',
			data : {
				id : campusId
			},
			dataType : 'json',
			success : function(role) {
				//先清空原来的内容
				$("#roleListBody").empty();

				var role_td = "<td>" + role.roleName + "</td>";
				var permission_td = "<td>";
				var permission_list = role.permissionList;
				$.each(permission_list, function(i, permission) {
					permission_td += permission.permissionName + "【" + permission.permissionType + "】 <br/>"
				});
				permission_td += "</td>";

				var roleRow = $("<tr>" + role_td + permission_td + "</tr>");
				$("#roleListBody").append($(roleRow));
			},
			error : function(req, error) {
				alert(req.status + ':' + error);
			}
		});
	}
</script>

<script type="text/javascript">
	//实现表格分页
	$("#dataList").bootstrapTable({
		//点击行事件,element为被点击行的tr元素对象
		onClickRow : function(row, $element) {
			$element.each(function() {
				//获取所有td的值
				var tds = $(this).find("td")
				/* var id = tds.eq(0).text()
				var title = tds.eq(1).text()
				var remark = tds.eq(2).text()
				var money = tds.eq(3).text()
				var creatdate = tds.eq(4).text()
				var state = tds.eq(5).text() */
			})
		},
		pageNumber : 1, //首页页码
		pagination : true, //是否显示分页条
		pageSize : 5, //默认一页显示的行数
		paginationLoop : false, //是否开启分页条无限循环，最后一页时点击下一页是否转到第一页
		pageList : [ 5, 10, 20 ], //选择每页显示多少行
		search : false, //启用关键字搜索框
		sortable : true
	// 是否启用排序

	});
</script>

</html>