<!DOCTYPE html>
<html>

<head>
<!-- 页面meta -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>添加用户</title>
<!-- Tell the browser to be responsive to screen width -->
<meta
	content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"
	name="viewport">

<link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
<link rel="stylesheet"
	href="../plugins/adminLTE/css/skins/_all-skins.min.css">
<link rel="stylesheet" href="../css/style.css">
<script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
<script src="../plugins/bootstrap/js/bootstrap.min.js"></script>

</head>

<body class="hold-transition skin-red sidebar-mini">

	<!-- 正文区域 -->
	<section class="content">
		<form action="../user/useradd" method="post" onsubmit="return verify()">
			<div class="box-body">

				<!--tab页-->
				<div class="nav-tabs-custom">

					<!--tab头-->
					<ul class="nav nav-tabs">

						<li class="active"><a href="#home" data-toggle="tab">添加用户</a>
						</li>
					</ul>
					<!--tab头/-->


					<!--tab内容-->
					<div class="tab-content">

						<!--表单内容-->
						<div class="tab-pane active" id="home">
							<div class="row data-type">

								<div class="col-md-2 title">编号</div>
								<div class="col-md-6 data">
									<input type="text" id="campusId" name="campusId"
										class="form-control" placeholder="编号" required="required"
										maxlength="12">
								</div>
								<div class="col-md-4 data">
									<span id="campusIdCheck"></span>
								</div>

								<div class="col-md-2 title">密码</div>
								<div class="col-md-10 data">
									<input type="text" id="userPassword" name="userPassword"
										class="form-control" placeholder="密码" required="required">
								</div>

								<div class="col-md-2 title">用户名</div>
								<div class="col-md-6 data">
									<input type="text" id="username" name="username"
										class="form-control" placeholder="用户名">
								</div>
								<div class="col-md-4 data">
									<span id="usernameCheck"></span>
								</div>

								<div class="col-md-2 title">姓名</div>
								<div class="col-md-10 data">
									<input type="text" id="fullName" name="fullName"
										class="form-control" placeholder="姓名" required="required">
								</div>

								<div class="col-md-2 title">性别</div>
								<div class="col-md-10 data">
									<select id="gender" name="gender" class="form-control">
										<option value="男" selected="selected">男</option>
										<option value="女">女</option>
									</select>
								</div>

								<div class="col-md-2 title">年龄</div>
								<div class="col-md-10 data">
									<input type="number" id="age" name="age" class="form-control"
										placeholder="年龄" required="required" min="1" max="200" maxlength="3">
								</div>

								<div class="col-md-2 title">身份证号</div>
								<div class="col-md-10 data">
									<input type="text" id="idNumber" name="idNumber"
										class="form-control" placeholder="身份证号" required="required" maxlength="18">
								</div>

								<div class="col-md-2 title">职称/岗位</div>
								<div class="col-md-10 data">
									 <select id="post" name="post" class="form-control" onchange="setClass(this);">
										<option value="学生" selected="selected">学生</option>
										<option value="讲师">讲师</option>
										<option value="副教授">副教授</option>
										<option value="教授">教授</option>
										<option value="教师">教师（教务、辅导员等）</option>
										<option value="职工">职工（保安、食堂职工等）</option>
									</select>
								</div>

								<div class="col-md-2 title">班级编号（学生专属）</div>
								<div class="col-md-10 data">
									<select id="classId" name="classId" class="form-control">
										<option th:each="class:${classes}" th:value=${class.classId}
											th:text="${class.gradeClass}"></option>
									</select>
								</div>

								<div class="col-md-2 title">手机号码</div>
								<div class="col-md-10 data">
									<input type="text" id="phoneNumber" name="phoneNumber"
										class="form-control" placeholder="手机号码" required="required"
										maxlength="11">
								</div>

								<div class="col-md-2 title">紧急联系人</div>
								<div class="col-md-10 data">
									<input type="text" id="emergencyContact"
										name="emergencyContact" class="form-control"
										placeholder="紧急联系人" required="required">
								</div>

								<div class="col-md-2 title">紧急联系人手机号码</div>
								<div class="col-md-10 data">
									<input type="text" id="emergencyContactPhone"
										name="emergencyContactPhone" class="form-control"
										placeholder="紧急联系人手机号码" required="required" maxlength="11">
								</div>

								<div class="col-md-2 title">住址</div>
								<div class="col-md-10 data">
									<input type="text" id="address" name="address"
										class="form-control" placeholder="住址" required="required">
								</div>

							</div>
						</div>


					</div>
					<!--tab内容/-->
					<!--表单内容/-->
				</div>



			</div>
			<div class="btn-toolbar list-toolbar">
				<button type="submit" class="btn btn-primary">
					<i class="fa fa-save"></i>保 存
				</button>
				<button type="reset" class="btn btn-danger">
					<i class="fa fa-save"></i>清 空
				</button>
			</div>
		</form>
	</section>
	<!-- 正文区域 /-->


</body>

<script type="text/javascript">
	var flag = 0;
	$(function() {
		
		// 使用Ajax异步获取后台用户账号注册情况
		$("#campusId").keyup(function() {
			var campusId = $("#campusId").val();
			
			//控制输入的账号只能为数字
			var value = $(this);
			//替换非数字字符
			var temp = "";
			if (value.val().length == 1) {
				temp = value.val().replace(/[^1-9]/g, '');
				$(this).val(temp);
			} else if (/[^\d]/.test(value.val())) {
				temp = value.val().replace(/[^\d]/g, '');
				$(this).val(temp);
			}
			
			// get的方式向后台发送请求，第一个参数为发送的地址，第二个参数为发送的数据，function表示执行成功返回的数据
			$.ajax({
				url: "../user/idCheack",
				type: "post",
				data: {"campusId":campusId},
				dataType: "json",
				
				success: function(num) {
					if (num == "1") {
						$("#campusIdCheck").html("<span style='color: red;'>账号已存在！</span>");
						flag = 1;
					} else {
						$("#campusIdCheck").html("<span style='color: green;'>账号可使用！</span>");
						if(flag != 2){
							flag = 0;
						}
					}
				}
			})
		});
		$("#username").keyup(function() {
			var username = $("#username").val();
			// get的方式向后台发送请求，第一个参数为发送的地址，第二个参数为发送的数据，function表示执行成功返回的数据
			$.ajax({
				url: "../user/nameCheack",
				type: "post",
				data: {"username":username},
				dataType: "json",
				
				success: function(num) {
					if(num == "2") {
						$("#usernameCheck").html("<span style='color: red;'>用户名已存在！</span>");
						flag = 2;
					} else {
						$("#usernameCheck").html("<span style='color: green;'>用户名可使用！</span>");
						if(flag != 1){
							flag = 0;
						}
					}
				}
			})
		});

	})
	// form表单提交时先进行判断
	function verify() {
		if (flag == 1) {
			alert("账号已存在");
			return false;
		}
		if (flag == 2) {
			alert("用户名已存在");
			return false;
		}
		return true;
	}
	
</script>

<script th:inline="javascript">
	//设置下拉框二级联动
	function setClass(obj){
		// 获取后台传递的值
		var classes = [[${classes}]];
	    var val = obj.value;
	    if(val == "学生"){
	      var sec = document.getElementById("classId");
	      // 设置下拉框为可选状态
	      sec.disabled = false;
	      for(var i=0; i<classes.length; i++){
	    	  sec.options[i] = new Option(classes[i].gradeClass, classes[i].classId);
	      }
	    }else{
	      var sec = document.getElementById("classId");
	      // 清空下拉框
	      sec.length = 0;
	      sec.options[0] = new Option("班级编号（学生专属）","");
	      // 设置下拉框为不可选状态
	      sec.disabled = true;
	    }
	}
	
</script>

</html>