<!DOCTYPE html>
<html>

<head>
<!-- 页面meta -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>添加用户</title>
<!-- Tell the browser to be responsive to screen width -->
<meta
	content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"
	name="viewport">

<style type="text/css">
.body1 {
	background-color: #ECF0F5;
}
</style>

<link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
<link rel="stylesheet"
	href="../plugins/adminLTE/css/skins/_all-skins.min.css">
<link rel="stylesheet" href="../css/style.css">
<script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
<script src="../plugins/bootstrap/js/bootstrap.min.js"></script>

</head>

<body class="hold-transition skin-red sidebar-mini body1">

	<!-- 内容头部 -->
	<section class="content-header">
		<h1>
			<small></small>
		</h1>
		<ol class="breadcrumb">
			<!-- <li><a href="home"><i class="fa fa-dashboard"></i> 首页</a></li> -->
			<li><i class="fa fa-home"></i>&nbsp;&nbsp;首页</li>
			<li>用户管理</li>
			<li>用户信息管理</li>
			<li class="active">添加用户</li>
		</ol>
	</section>
	<!-- 内容头部 /-->

	<!-- 正文区域 -->
	<section class="content">

		<div class="col-md-12">
			<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title">添加用户</h3>
				</div>

				<form action="../user/userAdd" class="form-horizontal" method="post"
					th:onsubmit="'return verify();'">
					<div class="box-body">
						<div class="form-group">
							<label for="campusId" class="col-sm-2 control-label">账号（校内编号）</label>
							<div class="col-sm-6">
								<input type="text" class="form-control" id="campusId"
									name="campusId" placeholder="编号" required="required"
									maxlength="12">
							</div>
							<label class="col-sm-2 control-label" for="campusId"><span
								id="campusIdCheck"></span></label>
						</div>
						<div class="form-group">
							<label for="userPassword" class="col-sm-2 control-label">密码</label>
							<div class="col-sm-6">
								<input type="text" class="form-control" id="userPassword"
									name="userPassword" placeholder="密码" required="required">
							</div>
						</div>
						<div class="form-group">
							<label for="username" class="col-sm-2 control-label">用户名</label>
							<div class="col-sm-6">
								<input type="text" class="form-control" id="username"
									name="username" placeholder="用户名" required="required">
							</div>
							<label class="col-sm-2 control-label" for="username"><span
								id="usernameCheck"></span></label>
						</div>
						<div class="form-group">
							<label for="fullName" class="col-sm-2 control-label">姓名</label>
							<div class="col-sm-6">
								<input type="text" class="form-control" id="fullName"
									name="fullName" placeholder="姓名" required="required">
							</div>
						</div>
						<div class="form-group">
							<label for="gender" class="col-sm-2 control-label">性别</label>
							<div class="col-sm-6">
								<select id="gender" name="gender" class="form-control">
									<option value="男" selected="selected">男</option>
									<option value="女">女</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label for="age" class="col-sm-2 control-label">年龄</label>
							<div class="col-sm-6">
								<input type="number" class="form-control" id="age" name="age"
									placeholder="年龄" required="required" min="1" max="200"
									maxlength="3">
							</div>
						</div>
						<div class="form-group">
							<label for="idNumber" class="col-sm-2 control-label">身份证号</label>
							<div class="col-sm-6">
								<input type="text" class="form-control" id="idNumber"
									name="idNumber" placeholder="身份证号" required="required"
									maxlength="18">
							</div>
						</div>
						<div class="form-group">
							<label for="post" class="col-sm-2 control-label">职称/岗位</label>
							<div class="col-sm-6">
								<select id="post" name="post" class="form-control"
									onchange="setClass(this);">
									<option value="学生" selected="selected">学生</option>
									<option value="助教">助教</option>
									<option value="讲师">讲师</option>
									<option value="副教授">副教授</option>
									<option value="教授">教授</option>
									<option value="教务">教务</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label for="classId" class="col-sm-2 control-label">（学生）班级编号</label>
							<div class="col-sm-6">
								<select id="classId" name="classId" class="form-control">
									<option th:each="class:${classes}" th:value=${class.classId}
										th:text="${class.gradeClass}"></option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label for="phoneNumber" class="col-sm-2 control-label">手机号码</label>
							<div class="col-sm-6">
								<input type="text" class="form-control" id="phoneNumber"
									name="phoneNumber" placeholder="手机号码" required="required"
									maxlength="11">
							</div>
						</div>
						<div class="form-group">
							<label for="emergencyContact" class="col-sm-2 control-label">紧急联系人</label>
							<div class="col-sm-6">
								<input type="text" class="form-control" id="emergencyContact"
									name="emergencyContact" placeholder="紧急联系人" required="required">
							</div>
						</div>
						<div class="form-group">
							<label for="emergencyContactPhone" class="col-sm-2 control-label">紧急联系人手机号码</label>
							<div class="col-sm-6">
								<input type="text" class="form-control"
									id="emergencyContactPhone" name="emergencyContactPhone"
									placeholder="紧急联系人手机号码" required="required" maxlength="11">
							</div>
						</div>
						<div class="form-group">
							<label for="address" class="col-sm-2 control-label">住址</label>
							<div class="col-sm-6">
								<input type="text" class="form-control" id="address"
									name="address" placeholder="住址" required="required">
							</div>
						</div>
					</div>

					<div class="box-footer">
						<button type="submit" class="btn btn-primary">保 存</button>
						&nbsp;&nbsp;
						<button type="reset" class="btn btn-danger">重 置</button>
					</div>
				</form>

			</div>

		</div>
	</section>
	<!-- 正文区域 /-->


</body>

<script type="text/javascript">
	var flag = 0;
	$(function() {
		
		// 使用Ajax异步获取后台用户账号注册情况
		$("#campusId").keyup(function() {
			var campusId = $("#campusId").val();
			
			//控制输入的账号只能为数字
			var value = $(this);
			//替换非数字字符
			var temp = "";
			if (value.val().length == 1) {
				temp = value.val().replace(/[^1-9]/g, '');
				$(this).val(temp);
			} else if (/[^\d]/.test(value.val())) {
				temp = value.val().replace(/[^\d]/g, '');
				$(this).val(temp);
			}
			
			// get的方式向后台发送请求，第一个参数为发送的地址，第二个参数为发送的数据，function表示执行成功返回的数据
			$.ajax({
				url: "../user/idCheack",
				type: "post",
				data: {"campusId":campusId},
				dataType: "json",
				
				success: function(num) {
					if (num == "1") {
						$("#campusIdCheck").html("<span style='color: red;'>账号已存在！</span>");
						flag = 1;
					} else {
						$("#campusIdCheck").html("<span style='color: green;'>账号可使用！</span>");
						if(flag != 2){
							flag = 0;
						}
					}
				}
			})
		});
		$("#username").keyup(function() {
			var username = $("#username").val();
			// get的方式向后台发送请求，第一个参数为发送的地址，第二个参数为发送的数据，function表示执行成功返回的数据
			$.ajax({
				url: "../user/nameCheack",
				type: "post",
				data: {"username":username},
				dataType: "json",
				
				success: function(num) {
					if(num == "2") {
						$("#usernameCheck").html("<span style='color: red;'>用户名已存在！</span>");
						flag = 2;
					} else {
						$("#usernameCheck").html("<span style='color: green;'>用户名可使用！</span>");
						if(flag != 1){
							flag = 0;
						}
					}
				}
			})
		});

	})
	// form表单提交时先进行判断
	function verify() {
		if (flag == 1) {
			alert("账号已存在");
			return false;
		}
		if (flag == 2) {
			alert("用户名已存在");
			return false;
		}
		return true;
	}
	
</script>

<script th:inline="javascript">
	//设置下拉框二级联动
	function setClass(obj){
		// 获取后台传递的值
		var classes = [[${classes}]];
	    var val = obj.value;
	    if(val == "学生"){
	      var sec = document.getElementById("classId");
	      // 设置下拉框为可选状态
	      sec.disabled = false;
	      for(var i=0; i<classes.length; i++){
	    	  sec.options[i] = new Option(classes[i].gradeClass, classes[i].classId);
	      }
	    }else{
	      var sec = document.getElementById("classId");
	      // 清空下拉框
	      sec.length = 0;
	      sec.options[0] = new Option("班级编号（学生专属）","");
	      // 设置下拉框为不可选状态
	      sec.disabled = true;
	    }
	}
	
</script>

</html>