<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>活动信息</title>

<!-- Bootstrap -->
<link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet"
	href="../bower_components/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet"
	href="../bower_components/Ionicons/css/ionicons.min.css">
<link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">

<style type="text/css">
th, td {
	text-align: center;
}
</style>

<script src="../js/jquery-2.1.0.js"></script>
<script src="../bootstrap/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="../bootstrap/css/bootstrap-table.min.css">
<script src="../bootstrap/js/bootstrap-table.min.js"></script>
<script src="../bootstrap/js/bootstrap-table-zh-CN.min.js"></script>

</head>
<body>

	<!-- 内容头部 -->
	<section class="content-header">
		<h1>
			<small></small>
		</h1>
		<ol class="breadcrumb">
			<!-- <li><a href="home"><i class="fa fa-dashboard"></i> 首页</a></li> -->
			<li><i class="fa fa-home"></i>&nbsp;&nbsp;首页</li>
			<li>我的事务</li>
			<li class="active">查看事务</li>
		</ol>
	</section>
	<!-- 内容头部 /-->

	<!-- .box-body -->
	<div class="box-header with-border">
		<h3 class="box-title">活动信息列表</h3>
	</div>

	<div class="box-body">

		<!-- 数据表格 -->
		<div class="table-box">

			<!--工具栏-->
			<div class="pull-left">
				<div class="form-group form-inline">
					<div class="btn-group">
						<button type="button" class="btn btn-default" title="刷新"
							onclick="window.location.reload();">
							<i class="fa fa-refresh"></i> 刷新
						</button>
					</div>
				</div>
			</div>

			<!--数据列表-->
			<table id="dataList"
				class="table table-bordered table-striped table-hover dataTable">
				<thead>
					<tr>
						<th class="sorting_asc">活动ID</th>
						<th class="sorting">活动标题</th>
						<th class="sorting">举办单位</th>
						<th class="sorting">招募志愿者人数</th>
						<th class="sorting">审核状态</th>
						<th class="sorting">操作</th>
					</tr>
				</thead>
				<tbody th:if="${activities!=null && activities.size()>0}">
					<tr th:each="activity:${activities}">
						<td th:text="${activity.volunteerServiceId}"></td>
						<td th:text="${activity.title}"></td>
						<td th:text="${activity.sponsorOrg}"></td>
						<td th:text="${activity.expectedVolunteers}"></td>
						<td th:text="${activity.state=='2'?'审核中':'已完成'}"></td>
						<td th:if="${activity.state=='1' || activity.state=='2'}"><a
							href="#" class="btn btn-success btn-xs"
							th:onclick="viewHisComment([[${activity.volunteerServiceId}]])"><span
								class="glyphicon glyphicon-eye-open"></span> 审核记录</a>&nbsp;&nbsp;
							<a href="#" class="btn btn-success btn-xs"
							th:onclick="viewCurrentImageById([[${activity.volunteerServiceId}]])"><span
								class="glyphicon glyphicon-eye-open"></span> 当前流程图</a>
						<td th:if="${activity.state=='3'}"><a href="#"
							class="btn btn-success btn-xs"
							th:onclick="viewHisComment([[${activity.volunteerServiceId}]])"><span
								class="glyphicon glyphicon-eye-open"></span> 审核记录</a>&nbsp;&nbsp;
							<a href="#"
							th:onclick="delConf([[${activity.volunteerServiceId}]])"
							class="btn btn-danger btn-xs"><span
								class="glyphicon glyphicon-remove"></span> 删除</a></td>

					</tr>
				</tbody>
				<tbody th:if="${activities==null || activities.size()<=0}">
					<tr>
						<td colspan='12'>暂无活动信息记录</td>
					</tr>
				</tbody>
			</table>
			<!--数据列表/-->

		</div>
		<!-- 数据表格 /-->

	</div>
	<!-- /.box-body -->

</body>

<script type="text/javascript">
	// 审核记录
	function viewHisComment(id) {
		window.location.href = "../activiti/viewHisComment?id=" + id
				+ "&flag=1";
	}

	// 当前流程图
	function viewCurrentImageById(id) {
		window.open("../activiti/viewCurrentImageById?id=" + id + "&flag=1");
	}

	//确认删除函数
	function delConf(id) {
		if (confirm("是否删除该活动记录")) {
			window.location.href = "../process/deleteById?id=" + id + "&flag=1";
		}
	}
</script>

<script>
	//实现表格分页
	$("#tb").bootstrapTable({
		//点击行事件,element为被点击行的tr元素对象
		onClickRow : function(row, $element) {
			$element.each(function() {
				//获取所有td的值
				var tds = $(this).find("td")
				/* var id = tds.eq(0).text()
				var title = tds.eq(1).text()
				var remark = tds.eq(2).text()
				var money = tds.eq(3).text()
				var creatdate = tds.eq(4).text()
				var state = tds.eq(5).text() */
			})
		},
		pageNumber : 1, //首页页码
		pagination : true, //是否显示分页条
		pageSize : 10, //默认一页显示的行数
		paginationLoop : false, //是否开启分页条无限循环，最后一页时点击下一页是否转到第一页
		pageList : [ 10, 15, 20 ], //选择每页显示多少行
		search : false, //启用关键字搜索框
		sortable : true
	// 是否启用排序

	});
</script>

</html>