<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>活动信息</title>

<!-- Bootstrap -->
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="css/content.css" rel="stylesheet">

<style type="text/css">
th, td {
	text-align: center;
}
</style>

<script src="js/jquery-2.1.0.js"></script>
<script src="bootstrap/bootstrap.min.js"></script>

<link href="bootstrap/css/bootstrap-table.min.css" rel="stylesheet">
<script src="bootstrap/js/bootstrap-table.min.js"></script>
<script src="bootstrap/js/bootstrap-table-zh-CN.min.js"></script>
<script type="text/javascript">
	//确认删除函数
	function delConf(id) {
		if (confirm("是否删除该条请假记录")) {
			window.location.href = "${pageContext.request.contextPath}/leavebilldel?id="
					+ id;
		}
	}
</script>
</head>
<body>

	<!--路径导航-->

	<!--路径导航-->

	<div class="page-content">
		<form class="form-inline">
			<div class="panel panel-default">
				<div class="panel-heading">活动信息列表</div>

				<div class="table-responsive">
					<table class="table table-striped table-hover" id="tb">
						<thead>
							<tr>
								<th width="8%">ID</th>
								<th width="12%">活动标题</th>
								<th width="15%">举办单位</th>
								<th width="10%">招募志愿者人数</th>
								<th width="15%">志愿服务地点</th>
								<th width="15%">志愿服务开始时间</th>
								<th width="15%">志愿服务结束时间</th>
								<th width="25%">操作</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td><fmt:formatDate value="${leavebill.leavedate}"
										pattern="yyyy-MM-dd hh:mm:ss" /></td>
								<td></td>
								<td></td>
								<td></td>
								<td><a
									href="${pageContext.request.contextPath }/viewHisComment?id=${leavebill.id}&flag=1"
									class="btn btn-success btn-xs"><span
										class="glyphicon glyphicon-eye-open"></span> 审核记录</a>&nbsp;&nbsp;
									<a
									href="${pageContext.request.contextPath}/viewCurrentImageByBill?billId=${leavebill.id}&flag=1"
									target="_blank" class="btn btn-success btn-xs"><span
										class="glyphicon glyphicon-eye-open"></span> 当前流程图</a> <a
									href="${pageContext.request.contextPath }/viewHisComment?id=${leavebill.id}&flag=1"
									class="btn btn-success btn-xs"><span
										class="glyphicon glyphicon-eye-open"></span> 审核记录</a>&nbsp;&nbsp;
									<a href="#" onclick="delConf(${leavebill.id})"
									class="btn btn-danger btn-xs"><span
										class="glyphicon glyphicon-remove"></span> 删除</a></td>

							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</form>

	</div>

	<!-- 商家详情 -->
	<div class="modal fade" id="sellerModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">×</button>
					<h3 id="myModalLabel">活动信息详情</h3>
				</div>
				<div class="modal-body">

					<ul class="nav nav-tabs">
						<li class="active"><a href="#detail" data-toggle="tab">志愿服务详情</a></li>
					</ul>

					<!-- 选项卡开始 -->
					<div id="myTabContent" class="tab-content">
						<div class="tab-pane fade" id="detail">
							<br>
							<table class="table table-bordered table-striped">
								<tr>
									<td>招募志愿者条件</td>
									<td>13900221212</td>
								</tr>
								<tr>
									<td>报名截止时间</td>
									<td>13900221212</td>
								</tr>
								<tr>
									<td>备注</td>
									<td>13900221212</td>
								</tr>
							</table>
						</div>

					</div>
					<!-- 选项卡结束 -->


				</div>
				<div class="modal-footer">
					<!-- <button class="btn btn-success" data-dismiss="modal"
							aria-hidden="true">审核通过</button>
						<button class="btn btn-danger" data-dismiss="modal"
							aria-hidden="true">审核未通过</button> -->
					<button class="btn btn-default" data-dismiss="modal"
						aria-hidden="true">关闭</button>
				</div>
			</div>
		</div>
	</div>

</body>

<script>
	//实现表格分页
    $("#tb").bootstrapTable({
    	//点击行事件,element为被点击行的tr元素对象
        onClickRow: function (row, $element) {
            $element.each(function () {
                //获取所有td的值
                var tds = $(this).find("td")
                /* var id = tds.eq(0).text()
                var title = tds.eq(1).text()
                var remark = tds.eq(2).text()
                var money = tds.eq(3).text()
                var creatdate = tds.eq(4).text()
                var state = tds.eq(5).text() */
            })
        },
        pageNumber: 1,			//首页页码
        pagination: true,   	//是否显示分页条
        pageSize: 10,         	//默认一页显示的行数
        paginationLoop: false,  //是否开启分页条无限循环，最后一页时点击下一页是否转到第一页
        pageList: [10,15,20],   	//选择每页显示多少行
        search: true,			//启用关键字搜索框
        sortable: true	 		// 是否启用排序
        
    });
</script>

</html>