<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>待办事务</title>

<!-- Bootstrap -->
<link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet"
	href="../bower_components/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet"
	href="../bower_components/Ionicons/css/ionicons.min.css">
<link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">

<style type="text/css">
th, td {
	text-align: center;
}
</style>

<script src="../js/jquery-2.1.0.js"></script>
<script src="../bootstrap/js/bootstrap.min.js"></script>

<link href="../bootstrap/css/bootstrap-table.min.css" rel="stylesheet">
<script src="../bootstrap/js/bootstrap-table.min.js"></script>
<script src="../bootstrap/js/bootstrap-table-zh-CN.min.js"></script>
</head>
<body>
	<!-- 内容头部 -->
	<section class="content-header">
		<h1>
			<small></small>
		</h1>
		<ol class="breadcrumb">
			<!-- <li><a href="home"><i class="fa fa-dashboard"></i> 首页</a></li> -->
			<li><i class="fa fa-home"></i>&nbsp;&nbsp;首页</li>
			<li>我的事务</li>
			<li class="active">代办事务</li>
		</ol>
	</section>
	<!-- 内容头部 /-->

	<!-- .box-body -->
	<div class="box-header with-border">
		<h3 class="box-title">待办事务列表</h3>
	</div>

	<div class="box-body">

		<!-- 数据表格 -->
		<div class="table-box">

			<!--工具栏-->
			<div class="pull-left">
				<div class="form-group form-inline">
					<div class="btn-group">
						<button type="button" class="btn btn-default" title="刷新"
							onclick="window.location.reload();">
							<i class="fa fa-refresh"></i> 刷新
						</button>
					</div>
				</div>
			</div>
			<!--工具栏/-->

			<!--数据列表-->
			<table id="dataList"
				class="table table-bordered table-striped table-hover dataTable">
				<thead>
					<tr>
						<th class="sorting_asc">任务ID</th>
						<th class="sorting">任务名称</th>
						<th width="20%">创建时间</th>
						<th width="20%">办理人</th>
						<th width="20%">操作</th>
					</tr>
				</thead>
				<tbody id="tb">
					<tr th:each="task:${taskList}">
						<td th:text="${task.id}"></td>
						<td th:text="${task.name}"></td>
						<td
							th:text="${#dates.format(task.createTime,'yyyy-MM-dd HH:mm:ss')}"></td>
						<td th:if="${task.assignee!=null}" th:text="${task.assignee}"></td>
						<td th:unless="${task.assignee!=null}" th:text="${userInfo.fullName}"></td>
						<td><a href="#"
							th:onclick="startTask([[${task.id}]],[[${flag}]])"
							class="btn btn-success btn-xs"><span
								class="glyphicon glyphicon-plus"></span> 办理任务</a>&nbsp;&nbsp; <a
							href="#" th:onclick="viewCurrentImage([[${task.id}]])"
							class="btn btn-success btn-xs"><span
								class="glyphicon glyphicon-eye-open"></span> 当前流程图</a></td>
					</tr>
				</tbody>
			</table>
			<!--数据列表/-->

		</div>
		<!-- 数据表格 /-->

	</div>
	<!-- /.box-body -->
	
</body>

<script type="text/javascript">
	function startTask(taskId, flag) {
		window.location.href = "../activiti/viewTaskForm?taskId=" + taskId
				+ "&flag=" + flag;
	}
	function viewCurrentImage(taskId) {
		window.open("../activiti/viewCurrentImage?taskId=" + taskId);
	}
</script>

<script>
	//实现表格分页
	$("#dataList").bootstrapTable({
		//点击行事件,element为被点击行的tr元素对象
		onClickRow : function(row, $element) {
			$element.each(function() {
				//获取所有td的值
				var tds = $(this).find("td")
				/* var id = tds.eq(0).text()
				var title = tds.eq(1).text()
				var remark = tds.eq(2).text()
				var money = tds.eq(3).text()
				var creatdate = tds.eq(4).text()
				var state = tds.eq(5).text() */
			})
		},
		pageNumber : 1, //首页页码
		pagination : true, //是否显示分页条
		pageSize : 5, //默认一页显示的行数
		paginationLoop : false, //是否开启分页条无限循环，最后一页时点击下一页是否转到第一页
		pageList : [ 5, 10, 20 ], //选择每页显示多少行
		search : false, //启用关键字搜索框
		sortable : true
	// 是否启用排序

	});
</script>

</html>