<!DOCTYPE html>
<html>

<head>
<!-- 页面meta -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>出入校园记录</title>
<meta
	content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"
	name="viewport">
<link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
<link rel="stylesheet"
	href="../plugins/adminLTE/css/skins/_all-skins.min.css">
<link rel="stylesheet" href="../css/style.css">

</head>

<body class="hold-transition skin-red sidebar-mini">
	<!-- .box-body -->
	<div class="box-header with-border">
		<h3 class="box-title">出入校园记录</h3>
	</div>

	<div class="box-body">

		<!-- 数据表格 -->
		<div class="table-box">

			<!--工具栏-->
			<div class="pull-left">
				<div class="form-group form-inline">
					<div class="btn-group">
						<button type="button" class="btn btn-default" title="刷新"
							onclick="window.location.reload();">
							<i class="fa fa-refresh"></i> 刷新
						</button>
					</div>
				</div>
			</div>

			<div class="box-tools pull-right">
				<div class="has-feedback">
					姓名： <input type="text" id="fullName" name="fullName"
						placeholder="姓名" value=""> 状态：<select id="state"
						name="state">
						<option value="" selected="selected">请选择</option>
						<option value="i">进入学校</option>
						<option value="o">离开学校</option>
					</select> 记录时间(及之后)：<input type="date" id="recordDate" name="recordDate"
						value="">
					<button id="query" class="btn btn-default">查询</button>
				</div>
			</div>
			<!--工具栏/-->

			<!--数据列表-->
			<table id="dataList"
				class="table table-bordered table-striped table-hover dataTable">
				<thead>
					<tr>
						<th class="sorting_asc">记录ID</th>
						<th class="sorting">姓名</th>
						<th class="sorting">单位</th>
						<th class="sorting">联系方式</th>
						<th class="sorting">事由</th>
						<th class="sorting">审批人</th>
						<th class="sorting">状态</th>
						<th class="sorting">记录时间</th>

						<th class="text-center">操作</th>
					</tr>
				</thead>
				<tbody id="tb">
					<tr th:each="accessRecord:${accessRecords}">
						<td th:text="${accessRecord.recordId}"></td>
						<td th:text="${accessRecord.fullName}"></td>
						<td th:text="${accessRecord.unit}"></td>
						<td th:text="${accessRecord.phoneNumber}"></td>
						<td th:text="${accessRecord.reason}"></td>
						<td th:text="${accessRecord.examiner}"></td>
						<td th:text="${accessRecord.state=='i'?'进入学校':'离开学校'}"></td>
						<td th:text="${#dates.format(accessRecord.recordDate,'yyyy-MM-dd HH:mm:ss')}"></td>

						<td class="text-center">
							<button type="button" class="btn bg-olive btn-xs" th:onclick="fillRecordModal([[${accessRecord}]])"
								data-toggle="modal" data-target="#recordModal">详情</button>
						</td>
					</tr>
				</tbody>
			</table>
			<!--数据列表/-->

		</div>
		<!-- 数据表格 /-->

	</div>
	<!-- /.box-body -->



	<!-- 商家详情 -->
	<div class="modal fade" id="recordModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">×</button>
					<h3 id="myModalLabel">记录详情</h3>
				</div>
				<div class="modal-body">

					<ul class="nav nav-tabs">
						<li class="active"><a href="#drive" data-toggle="tab">驾车信息</a></li>
					</ul>

					<!-- 选项卡开始 -->
					<div id="myTabContent" class="tab-content">
						<div class="tab-pane fade" id="drive">
							<br>
							<table class="table table-bordered table-striped">
								<tr>
									<td>是否驾车</td>
									<td id="whetherDrive"></td>
								</tr>
								<tr>
									<td>驾驶人</td>
									<td id="driver"></td>
								</tr>
								<tr>
									<td>车牌号</td>
									<td id="carNumber"></td>
								</tr>
								<tr>
									<td>备注</td>
									<td id="remarks"></td>
								</tr>
							</table>
						</div>

					</div>
					<!-- 选项卡结束 -->

				</div>
				<div class="modal-footer">
					<button class="btn btn-default" data-dismiss="modal"
						aria-hidden="true">关闭</button>
				</div>
			</div>
		</div>
	</div>

</body>

<script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
<script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="../js/moment.js"></script>

<script th:inline="javascript">
	$(function() {
		// 查询绑定点击事件
		$("#query").click(function() {
			doAjax();
		})
	})

	// 利用Ajax实现分页
	function doAjax() {
		var fullName = $("#fullName").val();
		var state = $("#state").val();
		var recordDate = $("#recordDate").val();

		$.ajax({
			url : "../campus/findrecords",
			type : "post",
			data : {
				"fullName" : fullName,
				"state" : state,
				"recordDate" : recordDate
			},
			dataType : "json",
			success : function(map) {
				show(map);
			}
		})
	}

	function show(map) {
		var accessRecords = map.accessRecords; //获取到map中的accessRecords集合

		// 先清空原来的内容
		$("#tb").empty();
		var user_tr = "<tr>";
		if (accessRecords != null && accessRecords.length > 0) {
			// 拼接内容
			$.each(accessRecords, function(i, accessRecord) {
				user_tr += "<td>";
				user_tr += accessRecord.recordId;
				user_tr += "</td><td>";
				user_tr += accessRecord.fullName;
				user_tr += "</td><td>";
				user_tr += accessRecord.unit;
				user_tr += "</td><td>";
				user_tr += accessRecord.phoneNumber;
				user_tr += "</td><td>";
				user_tr += accessRecord.reason;
				user_tr += "</td><td>";
				user_tr += accessRecord.examiner;
				user_tr += "</td><td>";
				if (accessRecord.state == "i") {
					user_tr += "进入学校";
				} else {
					user_tr += "离开学校";
				}
				user_tr += "</td><td>";
				user_tr += moment(accessRecord.recordDate).format("YYYY-MM-DD HH:mm:ss");
				user_tr += "</td><td class='text-center'>";
				user_tr += "<button type='button' class='btn bg-olive btn-xs' onclick='fillRecordModal("+ accessRecord+")'";
				user_tr += "data-toggle='modal' data-target='#recordModal'>详情</button></td></tr>";

			});
		} else {
			user_tr = "<tr style='text-align: center;'><td colspan='12'>没有查询到相关记录！</td></tr>";
		}

		$("#tb").html(user_tr);

	}
</script>

<script th:inline="javascript">
	//设置记录详情的值
	function fillRecordModal(accessRecord) {
		// 根据id获取各对象
		var whetherDrive = document.getElementById("whetherDrive");
		var driver = document.getElementById("driver");
		var carNumber = document.getElementById("carNumber");
		var remarks = document.getElementById("remarks");
		
		// 设置td的值
		if(accessRecord.whetherDrive == "y"){
			whetherDrive.innerText = "是";
			driver.innerText = accessRecord.driver;
			carNumber.innerText = accessRecord.carNumber;
		}else{
			whetherDrive.innerText = "否";
		}
		remarks.innerText = accessRecord.remarks;
	}
</script>

</html>