<!DOCTYPE html>
<html>

<head>
<!-- 页面meta -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>行程记录</title>
<!-- Tell the browser to be responsive to screen width -->
<meta
	content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"
	name="viewport">
<link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet"
	href="../bower_components/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet"
	href="../bower_components/Ionicons/css/ionicons.min.css">
<link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
<link rel="stylesheet"
	href="../plugins/adminLTE/css/skins/_all-skins.min.css">
<link rel="stylesheet" href="../css/style.css">
<link rel="stylesheet" href="../bootstrap/css/bootstrap-table.min.css">

</head>

<body class="hold-transition skin-red sidebar-mini">
	
	<!-- 内容头部 -->
	<section class="content-header">
		<h1>
			<small></small>
		</h1>
		<ol class="breadcrumb">
			<!-- <li><a href="home"><i class="fa fa-dashboard"></i> 首页</a></li> -->
			<li><i class="fa fa-home"></i>&nbsp;&nbsp;首页</li>
			<li>体温行程信息管理</li>
			<li class="active">行程记录</li>
		</ol>
	</section>
	<!-- 内容头部 /-->
	
	<!-- .box-body -->
	<div class="box-header with-border">
		<h3 class="box-title">行程记录</h3>
	</div>

	<div class="box-body">

		<!-- 数据表格 -->
		<div class="table-box">

			<!--工具栏-->
			<div class="pull-left">
				<div class="form-group form-inline">
					<div class="btn-group">
						<button type="button" class="btn btn-default" title="刷新"
							onclick="window.location.reload();">
							<i class="fa fa-refresh"></i> 刷新
						</button>
					</div>
				</div>
			</div>

			<div class="box-tools pull-right">
				<div class="has-feedback">
					<span th:if="${health==null}">编号：<input type="text" id="campusId" name="campusId"
						placeholder="编号" maxlength="12"> 是否在校：<select
						id="returnedToSchool" name="returnedToSchool">
						<option value="" selected="selected">请选择</option>
						<option value="y">是</option>
						<option value="n">否</option>
					</select> 填报日期：<input type="date" id="uploadDate" name="uploadDate"
						></span>
					<span th:if="${health!=null}">编号：<input type="text" id="campusId" name="campusId"
						placeholder="编号" maxlength="12" th:value="${health.campusId}"> 是否在校：<select
						id="returnedToSchool" name="returnedToSchool">
						<option value="">请选择</option>
						<option value="y" th:selected="${health.returnedToSchool=='y'?true:false}">是</option>
						<option value="n" th:selected="${health.returnedToSchool=='n'?true:false}">否</option>
					</select> 填报日期：<input type="date" id="uploadDate" name="uploadDate"
						th:value="${#dates.format(health.uploadDate,'yyyy-MM-dd')}"></span>
					<button id="query" class="btn btn-default">查询</button>
				</div>
			</div>
			<!--工具栏/-->

			<!--数据列表-->
			<table id="dataList"
				class="table table-bordered table-striped table-hover dataTable">
				<thead>
					<tr>
						<th class="sorting_asc">编号</th>
						<th class="sorting">姓名</th>
						<th class="sorting">近14天的行程记录</th>
						<th class="sorting">是否在校</th>
						<th class="sorting">目前所在地址</th>
						<th class="sorting">填报日期</th>
					</tr>
				</thead>
				<tbody id="tb">
					<tr th:each="temperature:${healthInfo}">
						<td th:text="${temperature.campusId}"></td>
						<td><span th:each="user:${userInfo}"
							th:text="${user.campusId==temperature.campusId?user.fullName:''}"></span></td>
						<td th:text="${temperature.itineraryRecords}"></td>
						<td th:text="${temperature.returnedToSchool=='y'?'是':'否'}"></td>
						<td th:text="${temperature.currentAddress}"></td>
						<td
							th:text="${#dates.format(temperature.uploadDate,'yyyy-MM-dd HH:mm:ss')}"></td>
					</tr>
				</tbody>
			</table>
			<!--数据列表/-->

		</div>
		<!-- 数据表格 /-->

	</div>
	<!-- /.box-body -->

</body>

<script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
<script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="../bootstrap/js/bootstrap-table.min.js"></script>
<script src="../bootstrap/js/bootstrap-table-zh-CN.min.js"></script>
<script src="../js/moment.js"></script>

<script th:inline="javascript">
	//控制输入的账号只能为数字
	$("#campusId").keyup(function() {
		var value = $(this);
		//替换非数字字符
		var temp = "";
		if (value.val().length == 1) {
			temp = value.val().replace(/[^1-9]/g, '');
			$(this).val(temp);
		} else if (/[^\d]/.test(value.val())) {
			temp = value.val().replace(/[^\d]/g, '');
			$(this).val(temp);
		}
	})
</script>

<script th:inline="javascript">
	// 查询绑定点击事件
	$("#query").click(function() {
		//doAjax();
		findTravel();
	})
	
	// 查询行程信息
	function findTravel(){
		var campusId = $("#campusId").val();
		var returnedToSchool = $("#returnedToSchool").val();
		var uploadDate = $("#uploadDate").val();
    	window.location.href = "../campus/healthInfo?campusId="+campusId+"&returnedToSchool="+returnedToSchool+"&uploadDate="+uploadDate+"&flag=2";
    }

	// 利用Ajax实现分页
	function doAjax() {
		var campusId = $("#campusId").val();
		var returnedToSchool = $("#returnedToSchool").val();
		var uploadDate = $("#uploadDate").val();

		$.ajax({
			url : "../campus/healthInfo",
			type : "post",
			data : {
				"campusId" : campusId,
				"returnedToSchool" : returnedToSchool,
				"uploadDate" : uploadDate
			},
			dataType : "json",
			success : function(map) {
				show(map);
			}
		})
	}

	function show(map) {
		var healthInfo = map.healthInfo; //获取到map中的healthInfo集合
		var userInfo = map.userInfo; //获取到map中的userInfo集合

		// 先清空原来的内容
		$("#tb").empty();
		var user_tr = "<tr>";
		if (healthInfo != null && healthInfo.length > 0) {
			// 拼接内容
			$.each(healthInfo, function(i, temperature) {
				user_tr += "<td>";
				user_tr += temperature.campusId;
				user_tr += "</td><td>";
				$.each(userInfo, function(i, user) {
					if (temperature.campusId == user.campusId) {
						user_tr += user.fullName;
						return false;//break;
					}
				})
				user_tr += "</td><td>";
				user_tr += temperature.itineraryRecords;
				user_tr += "</td><td>";
				if(temperature.returnedToSchool == "y"){
					user_tr += "是";
				}else{
					user_tr += "否";
				}
				user_tr += "</td><td>";
				user_tr += temperature.currentAddress;
				user_tr += "</td><td>";
				user_tr += moment(temperature.uploadDate).format("YYYY-MM-DD HH:mm:ss");
				user_tr += "</td></tr>";
				
			});
		} else {
			user_tr = "<tr style='text-align: center;'><td colspan='12'>没有查询到相关记录！</td></tr>";
		}

		$("#tb").html(user_tr);

	}
</script>

<script type="text/javascript">
	//实现表格分页
	$("#dataList").bootstrapTable({
		striped: true,//是否显示行间隔色
        cache: false,//是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
		pageNumber : 1, //首页页码
		pagination : true, //是否显示分页条
		pageSize : 5, //默认一页显示的行数
		paginationLoop : false, //是否开启分页条无限循环，最后一页时点击下一页是否转到第一页
		pageList : [ 5, 10, 20 ], //选择每页显示多少行
		search : false, //启用关键字搜索框
		sortable : true// 是否启用排序

	});
</script>

</html>