<!DOCTYPE html>
<html>

<head>
<!-- 页面meta -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>查看当前流程图</title>
<!-- Tell the browser to be responsive to screen width -->
<meta
	content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"
	name="viewport">

<link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
<link rel="stylesheet"
	href="../plugins/adminLTE/css/skins/_all-skins.min.css">
<link rel="stylesheet" href="../css/style.css">
<link rel="stylesheet" href="../css/content.css">
<script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
<script src="../plugins/bootstrap/js/bootstrap.min.js"></script>


</head>

<body class="hold-transition skin-red sidebar-mini">

	<!-- 1.获取到规则流程图 -->
	<img style="position: absolute; top: 0px; left: 0px;"
		src="viewImage?deploymentId=${deploymentId }&imageName=${imageName }">

	<!-- 2.根据当前活动的坐标，动态绘制DIV -->
	<div
		style="position: absolute;border:2px solid red;top:${acs.y}px;left: ${acs.x}px;width:${acs.width}px;height:${acs.height}px;"></div>
</body>

</html>