<!DOCTYPE html>
<html>

<head>
<!-- 页面meta -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>发起志愿活动</title>
<meta
	content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"
	name="viewport">
<link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet"
	href="../bower_components/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet"
	href="../bower_components/Ionicons/css/ionicons.min.css">
<link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
<link rel="stylesheet"
	href="../plugins/adminLTE/css/skins/_all-skins.min.css">
<link rel="stylesheet" href="../css/style.css">
<script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
<script src="../plugins/bootstrap/js/bootstrap.min.js"></script>

</head>

<body class="hold-transition skin-red sidebar-mini">
	
	<!-- 内容头部 -->
	<section class="content-header">
		<h1>
			<small></small>
		</h1>
		<ol class="breadcrumb">
			<!-- <li><a href="home"><i class="fa fa-dashboard"></i> 首页</a></li> -->
			<li><i class="fa fa-home"></i>&nbsp;&nbsp;首页</li>
			<li>防疫志愿活动管理</li>
			<li class="active">发起志愿活动</li>
		</ol>
	</section>
	<!-- 内容头部 /-->
	
	<!-- 正文区域 -->
	<section class="content">
		<div class="col-md-12">
			<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title">发起志愿活动</h3>
				</div>

				<form action="../activiti/activityProcess" class="form-horizontal" method="post"
					th:onsubmit="'return verify();'">
					<input type="hidden" id="campusId" name="campusId"
				th:value="${userInfo.campusId}">
					<div class="box-body">
						<div class="form-group">
							<label for="title" class="col-sm-2 control-label">志愿服务标题</label>
							<div class="col-sm-6">
								<input type="text" class="form-control" id="title"
									name="title" placeholder="志愿服务标题" required="required">
							</div>
						</div>
						<div class="form-group">
							<label for="details" class="col-sm-2 control-label">志愿服务详情</label>
							<div class="col-sm-6">
								<input type="text" id="details" name="details"
										class="form-control" placeholder="志愿服务详情" required="required">
							</div>
						</div>
						<div class="form-group">
							<label for="sponsor" class="col-sm-2 control-label">志愿服务发起人</label>
							<div class="col-sm-6">
								<input type="text" class="form-control" id="sponsor" name="sponsor"
									th:value="${userInfo.fullName}"
										readonly="readonly">
							</div>
						</div>
						<div class="form-group">
							<label for="sponsorOrg" class="col-sm-2 control-label">举办单位</label>
							<div class="col-sm-6">
								<input type="text" id="sponsorOrg" name="sponsorOrg"
										class="form-control" placeholder="举办单位" required="required">
							</div>
						</div>
						<div class="form-group">
							<label for="expectedVolunteers" class="col-sm-2 control-label">招募志愿者人数</label>
							<div class="col-sm-6">
								<input type="number" id="expectedVolunteers"
										name="expectedVolunteers" class="form-control"
										placeholder="招募志愿者人数" min="1" required="required">
							</div>
						</div>
						<div class="form-group">
							<label for="conditions" class="col-sm-2 control-label">招募志愿者条件</label>
							<div class="col-sm-6">
								<input type="text" id="conditions" name="conditions"
										class="form-control" placeholder="招募志愿者条件">
							</div>
						</div>
						<div class="form-group">
							<label for="location" class="col-sm-2 control-label">志愿服务地点</label>
							<div class="col-sm-6">
								<input type="text" id="location" name="location"
										class="form-control" placeholder="志愿服务地点" required="required">
							</div>
						</div>
						<div class="form-group">
							<label for="deadline" class="col-sm-2 control-label">报名截止时间</label>
							<div class="col-sm-6">
								<input type="datetime-local" id="deadline" name="deadline"
										class="form-control" required="required">
							</div>
						</div>
						<div class="form-group">
							<label for="startTime" class="col-sm-2 control-label">志愿服务开始时间</label>
							<div class="col-sm-6">
								<input type="datetime-local" id="startTime" name="startTime"
										class="form-control" required="required">
							</div>
						</div>
						<div class="form-group">
							<label for="endTime" class="col-sm-2 control-label">志愿服务结束时间</label>
							<div class="col-sm-6">
								<input type="datetime-local" id="endTime" name="endTime"
										class="form-control" required="required">
							</div>
						</div>
						<div class="form-group">
							<label for="remarks" class="col-sm-2 control-label">备注</label>
							<div class="col-sm-6">
								<input type="text" id="remarks" name="remarks"
										class="form-control" placeholder="备注">
							</div>
						</div>
					</div>

					<div class="box-footer">
						<button type="submit" class="btn btn-primary">提交活动申请</button>
						&nbsp;&nbsp;
						<button type="reset" class="btn btn-danger">清 空</button>
					</div>
				</form>

			</div>

		</div>
	</section>
	<!-- 正文区域 /-->

</body>

</html>