<!DOCTYPE html>
<html>

<head>
<!-- 页面meta -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>防疫志愿风采展</title>
<meta
	content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"
	name="viewport">
<link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet"
	href="../bower_components/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet"
	href="../bower_components/Ionicons/css/ionicons.min.css">
<link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
<link rel="stylesheet"
	href="../plugins/adminLTE/css/skins/_all-skins.min.css">
<link rel="stylesheet" href="../bootstrap/css/bootstrap-table.min.css">
<link rel="stylesheet" href="../css/style.css">

</head>

<body class="hold-transition skin-red sidebar-mini">
	
	<!-- 内容头部 -->
	<section class="content-header">
		<h1>
			<small></small>
		</h1>
		<ol class="breadcrumb">
			<!-- <li><a href="home"><i class="fa fa-dashboard"></i> 首页</a></li> -->
			<li><i class="fa fa-home"></i>&nbsp;&nbsp;首页</li>
			<li>防疫志愿活动管理</li>
			<li class="active">防疫志愿风采</li>
		</ol>
	</section>
	<!-- 内容头部 /-->
	<!-- .box-body -->
	<div class="box-header with-border">
		<h3 class="box-title">防疫志愿风采</h3>
	</div>

	<div class="box-body">

		<!-- 数据表格 -->
		<div class="table-box">

			<!--工具栏-->
			<div class="pull-left">
				<div class="form-group form-inline">
					<div class="btn-group">
						<button type="button" class="btn btn-default" title="刷新"
							onclick="window.location.reload();">
							<i class="fa fa-refresh"></i> 刷新
						</button>
					</div>
				</div>
			</div>

			<div class="box-tools pull-right">
				<div class="has-feedback">
					<span th:if="${volunteer==null}">标题：<input type="text" id="titleFind" name="title"
						placeholder="志愿服务活动标题"> 开始时间：<input type="date"
						id="startTimeFind" name="startTime" > 结束时间：<input
						type="date" id="endTimeFind" name="endTime"></span>
					<span th:if="${volunteer!=null}">标题：<input type="text" id="titleFind" name="title"
						placeholder="志愿服务活动标题" th:value="${volunteer.title}"> 开始时间：<input type="date"
						id="startTimeFind" name="startTime" th:value="${#dates.format(volunteer.startTime,'yyyy-MM-dd')}"> 结束时间：<input
						type="date" id="endTimeFind" name="endTime" th:value="${#dates.format(volunteer.endTime,'yyyy-MM-dd')}"></span>
					<button id="query" class="btn btn-default">查询</button>
				</div>
			</div>
			<!--工具栏/-->

			<!--数据列表-->
			<table id="dataList"
				class="table table-bordered table-striped table-hover dataTable">
				<thead>
					<tr>
						<th class="sorting_asc">志愿服务标题</th>
						<th class="sorting">举办单位</th>
						<th class="sorting">招募志愿者人数</th>
						<th class="sorting">志愿服务地点</th>
						<th class="sorting">志愿服务开始时间</th>
						<th class="sorting">志愿服务结束时间</th>
						<th class="sorting">报名截止时间</th>

						<th class="text-center">操作</th>
					</tr>
				</thead>
				<tbody id="tb">
					<tr th:each="volunteer:${volunteerInfo}">
						<td th:text="${volunteer.title}"></td>
						<td th:text="${volunteer.sponsorOrg}"></td>
						<td th:text="${volunteer.expectedVolunteers}"></td>
						<td th:text="${volunteer.location}"></td>
						<td
							th:text="${#dates.format(volunteer.startTime,'yyyy-MM-dd HH:mm:ss')}"></td>
						<td
							th:text="${#dates.format(volunteer.endTime,'yyyy-MM-dd HH:mm:ss')}"></td>
						<td
							th:text="${#dates.format(volunteer.deadline,'yyyy-MM-dd HH:mm:ss')}"></td>

						<td class="text-center">
							<button type="button" class="btn bg-olive btn-xs"
								th:onclick="fillDetail([[${volunteer}]])" data-toggle="modal"
								data-target="#detailModal">详情</button>
							<button type="button" class="btn bg-olive btn-xs"
								th:onclick="fillEnroll([[${volunteer}]])" data-toggle="modal"
								data-target="#enrollModal">报名</button>
							<button type="button" class="btn bg-olive btn-xs"
								th:onclick="enrollDetail([[${volunteer}]])">报名详情</button>
						</td>
					</tr>
				</tbody>
			</table>
			<!--数据列表/-->

		</div>
		<!-- 数据表格 /-->

	</div>
	<!-- /.box-body -->



	<!-- 志愿服务详情 -->
	<div class="modal fade" id="detailModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">×</button>
					<h3 id="myModalLabel">志愿服务详情</h3>
				</div>
				<div class="modal-body">

					<ul class="nav nav-tabs">
						<li class="active"><a href="#detail" data-toggle="tab">活动详情</a></li>
					</ul>

					<!-- 选项卡开始 -->
					<div id="myTabContent" class="tab-content">
						<div class="tab-pane active in" id="detail">
							<br>
							<table class="table table-bordered table-striped">
								<tr>
									<td>活动内容</td>
									<td id="details"></td>
								</tr>
								<tr>
									<td>招募志愿者条件</td>
									<td id="conditions"></td>
								</tr>
								<tr>
									<td>志愿服务活动发起时间</td>
									<td id="initiateTime"></td>
								</tr>
								<tr>
									<td>参加活动志愿者人数</td>
									<td id="participatedVolunteers"></td>
								</tr>
								<tr>
									<td>备注</td>
									<td id="remarks"></td>
								</tr>
							</table>
						</div>

					</div>
					<!-- 选项卡结束 -->

				</div>
				<div class="modal-footer">
					<button class="btn btn-default" data-dismiss="modal"
						aria-hidden="true">关闭</button>
				</div>
			</div>
		</div>
	</div>

	<!-- 报名窗口 -->
	<div class="modal fade" id="enrollModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<form action="../activiti/enrollProcess" method="post">
				<input type="hidden" id="volunteerServiceId"
					name="volunteerServiceId"> <input type="hidden"
					id="sponsor" name="sponsor">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">×</button>
						<h3 id="myModalLabel">活动报名</h3>
					</div>
					<div class="modal-body">

						<table class="table table-bordered table-striped" width="800px">
							<tr>
								<td>志愿服务标题</td>
								<td><input type="text" id="title2" name="title"
									readonly="readonly" class="form-control"></td>
							</tr>
							<tr>
								<td>志愿服务地点</td>
								<td><input type="text" id="location2" name="location"
									readonly="readonly" class="form-control"></td>
								</td>
							</tr>
							<tr>
								<td>招募志愿者人数</td>
								<td><input type="number" id="expectedVolunteers2"
									name="expectedVolunteers" readonly="readonly"
									class="form-control"></td>
								</td>
							</tr>
							<tr>
								<td>招募志愿者条件</td>
								<td><input type="text" id="conditions2" name="conditions"
									readonly="readonly" class="form-control"></td>
								</td>
							</tr>
							<tr>
								<td>志愿服务开始时间</td>
								<td><input type="text" id="startTime2" name="startTime"
									readonly="readonly" class="form-control"></td>
								</td>
							</tr>
							<tr>
								<td>志愿服务结束时间</td>
								<td><input type="text" id="endTime2"
									name="endTime" readonly="readonly" class="form-control"></td>
								</td>
							</tr>
							<tr>
								<td>是否符合条件</td>
								<td><select id="participatedVolunteers" name="isQualified"
									class="form-control">
										<option value="y" selected="selected">是</option>
										<option value="n">否</option>
								</select></td>
							</tr>
							<tr>
								<td>备注</td>
								<td><input type="text" id="volunteerRemarks"
									name="volunteerRemarks" class="form-control" placeholder="备注"></td>
							</tr>
						</table>

					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-success">保 存</button>
						<button type="reset" class="btn btn-default">重 置</button>
					</div>
				</div>
			</form>
		</div>
	</div>


</body>

<script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
<script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="../bootstrap/js/bootstrap-table.min.js"></script>
<script src="../bootstrap/js/bootstrap-table-zh-CN.min.js"></script>
<script src="../js/moment.js"></script>

<script type="text/javascript">
	
	// 查询绑定点击事件
   	$("#query").click(function(){
	   	//doAjax();
   		findActivities();
   	})
   
   	// 查询志愿活动信息
	function findActivities(){
   		var title = $("#titleFind").val();
		var startTime = $("#startTimeFind").val();
		var endTime = $("#endTimeFind").val();
    	window.location.href = "../volunteer/findActivities?title="+title+"&startTime="+startTime+"&endTime="+endTime;
    }
   	
   	// 利用Ajax实现分页
	function doAjax(){
    	var title = $("#titleFind").val();
		var startTime = $("#startTimeFind").val();
		var endTime = $("#endTimeFind").val();
		
		$.ajax({
			url: "../volunteer/findActivities",
			type: "post",
			data: {"title":title, "startTime":startTime,"endTime":endTime},
			dataType: "json",
			success: function(map){
				show(map);
			}
		})
		
	}
    
	function show(map){
		var volunteerInfo = map.volunteerInfo; //获取到map中的volunteerInfo集合
		var userInfo = map.userInfo; //获取到map中的userInfo集合
		
		// 先清空原来的内容
		$("#tb").empty();
		var user_tr = "<tr>";
		if(volunteerInfo!=null && volunteerInfo.length>0){
			// 拼接内容
			$.each(volunteerInfo, function(i, volunteer) {
				user_tr += "<td>";
				user_tr += volunteer.title;
				user_tr += "</td><td>";
				user_tr += volunteer.sponsorOrg;
				user_tr += "</td><td>";
				user_tr += volunteer.expectedVolunteers;
				user_tr += "</td><td>";
				user_tr += volunteer.location;
				user_tr += "</td><td>";
				user_tr += moment(volunteer.startTime).format("YYYY-MM-DD HH:mm:ss");
				user_tr += "</td><td>";
				user_tr += moment(volunteer.endTime).format("YYYY-MM-DD HH:mm:ss");
				user_tr += "</td><td>";
				user_tr += moment(volunteer.deadline).format("YYYY-MM-DD HH:mm:ss");
				user_tr += "</td><td class='text-center'>";
				user_tr += "<button type='button' class='btn bg-olive btn-xs' ";
				user_tr += "data-toggle='modal' data-target='#detailModal'";
				user_tr += "onclick='fillDetail("+ volunteer +")'>详情</button>&nbsp;&nbsp;";
				user_tr += "<button type='button' onclick='fillEnroll("+ volunteer +")' ";
				user_tr += "class='btn bg-olive btn-xs' data-toggle='modal'";
				user_tr += "data-target='#enrollModal'>报名</button>&nbsp;&nbsp;";
				user_tr += "<button type='button' onclick='enrollDetail("+ volunteer +")' ";
				user_tr += "class='btn bg-olive btn-xs'>报名详情</button></td></tr>";
			});
		}else{
			user_tr =  "<tr style='text-align: center;'><td colspan='12'>没有查询到相关记录！</td></tr>";
		}
		
		$("#tb").html(user_tr);
	}
</script>

<script th:inline="javascript">
	//设置详情表单的默认值
	function fillDetail(volunteer) {
		// 根据id获取各对象
		var details = document.getElementById("details");
		var conditions = document.getElementById("conditions");
		var initiateTime = document.getElementById("initiateTime");
		var participatedVolunteers = document.getElementById("participatedVolunteers");
		var remarks = document.getElementById("remarks");
		
		// 设置td的值
		details.innerText = volunteer.details;
		conditions.innerText = volunteer.conditions;
		initiateTime.innerText = moment(volunteer.initiateTime).format("YYYY-MM-DD HH:mm:ss");
		participatedVolunteers.innerText = volunteer.participatedVolunteers;
		remarks.innerText = volunteer.remarks;
	}
	
	//设置报名表单的默认值
	function fillEnroll(volunteer) {
		// 获取用户信息
		var userInfos = [[${userInfo}]];
		// 匹配当前选中用户信息
		var user = null;
		for(var i=0; i<userInfos.length; i++){
			if(volunteer.campusId == userInfos[i].campusId){
				user = userInfos[i];
				break;
			}
		}
		
		// 设置input的值
		$("#volunteerServiceId").val(volunteer.volunteerServiceId);
		$("#sponsor").val(user.fullName);
		
		$("#title2").val(volunteer.title);
		$("#location2").val(volunteer.location);
		$("#expectedVolunteers2").val(volunteer.expectedVolunteers);
		$("#conditions2").val(volunteer.conditions);
		$("#startTime2").val(moment(volunteer.startTime).format("YYYY-MM-DD HH:mm:ss"));
		$("#endTime2").val(moment(volunteer.endTime).format("YYYY-MM-DD HH:mm:ss"));
		
		// 根据id获取各对象
		/* var title = document.getElementById("title2");
		var details = document.getElementById("details2");
		var location = document.getElementById("location2");
		var expectedVolunteers = document.getElementById("expectedVolunteers2");
		var conditions = document.getElementById("conditions2");
		var startTime = document.getElementById("startTime2");
		var endTime = document.getElementById("endTime2"); */
		
		// 设置td的值
		/* title.innerText = volunteer.title;
		details.innerText = volunteer.details;
		location.innerText = volunteer.location;
		expectedVolunteers.innerText = volunteer.expectedVolunteers;
		conditions.innerText = volunteer.conditions;
		startTime.innerText = volunteer.startTime;
		endTime.innerText = volunteer.endTime; */
	}
	
	//跳转到报名详情页面
	function enrollDetail(volunteer){
		window.location.href = "../volunteer/findEnroll?volunteerServiceId=" + volunteer.volunteerServiceId;
	}
</script>

<script type="text/javascript">
	//实现表格分页
	$("#dataList").bootstrapTable({
		striped: true,//是否显示行间隔色
        cache: false,//是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
		pageNumber : 1, //首页页码
		pagination : true, //是否显示分页条
		pageSize : 5, //默认一页显示的行数
		paginationLoop : false, //是否开启分页条无限循环，最后一页时点击下一页是否转到第一页
		pageList : [ 5, 10, 20 ], //选择每页显示多少行
		search : false, //启用关键字搜索框
		sortable : true// 是否启用排序

	});
</script>

</html>