<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.dgut.epidemic.mapper.EpidemicCureDeathMapper" >
  <resultMap id="BaseResultMap" type="cn.edu.dgut.epidemic.pojo.EpidemicCureDeath" >
    <id column="EPIDEMIC_CURE_ID" property="epidemicCureId" jdbcType="INTEGER" />
    <result column="CAMPUS_ID" property="campusId" jdbcType="BIGINT" />
    <result column="STATE" property="state" jdbcType="VARCHAR" />
    <result column="TIME_OF_CURE" property="timeOfCure" jdbcType="TIMESTAMP" />
    <result column="TIME_OF_DEATH" property="timeOfDeath" jdbcType="TIMESTAMP" />
    <result column="REMARKS" property="remarks" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    EPIDEMIC_CURE_ID, CAMPUS_ID, STATE, TIME_OF_CURE, TIME_OF_DEATH, REMARKS
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.edu.dgut.epidemic.pojo.EpidemicCureDeathExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from epidemic_cure_death
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from epidemic_cure_death
    where EPIDEMIC_CURE_ID = #{epidemicCureId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from epidemic_cure_death
    where EPIDEMIC_CURE_ID = #{epidemicCureId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="cn.edu.dgut.epidemic.pojo.EpidemicCureDeathExample" >
    delete from epidemic_cure_death
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.edu.dgut.epidemic.pojo.EpidemicCureDeath" >
    insert into epidemic_cure_death (EPIDEMIC_CURE_ID, CAMPUS_ID, STATE, 
      TIME_OF_CURE, TIME_OF_DEATH, REMARKS
      )
    values (#{epidemicCureId,jdbcType=INTEGER}, #{campusId,jdbcType=BIGINT}, #{state,jdbcType=VARCHAR}, 
      #{timeOfCure,jdbcType=TIMESTAMP}, #{timeOfDeath,jdbcType=TIMESTAMP}, #{remarks,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.edu.dgut.epidemic.pojo.EpidemicCureDeath" >
    insert into epidemic_cure_death
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="epidemicCureId != null" >
        EPIDEMIC_CURE_ID,
      </if>
      <if test="campusId != null" >
        CAMPUS_ID,
      </if>
      <if test="state != null" >
        STATE,
      </if>
      <if test="timeOfCure != null" >
        TIME_OF_CURE,
      </if>
      <if test="timeOfDeath != null" >
        TIME_OF_DEATH,
      </if>
      <if test="remarks != null" >
        REMARKS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="epidemicCureId != null" >
        #{epidemicCureId,jdbcType=INTEGER},
      </if>
      <if test="campusId != null" >
        #{campusId,jdbcType=BIGINT},
      </if>
      <if test="state != null" >
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="timeOfCure != null" >
        #{timeOfCure,jdbcType=TIMESTAMP},
      </if>
      <if test="timeOfDeath != null" >
        #{timeOfDeath,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.edu.dgut.epidemic.pojo.EpidemicCureDeathExample" resultType="java.lang.Integer" >
    select count(*) from epidemic_cure_death
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update epidemic_cure_death
    <set >
      <if test="record.epidemicCureId != null" >
        EPIDEMIC_CURE_ID = #{record.epidemicCureId,jdbcType=INTEGER},
      </if>
      <if test="record.campusId != null" >
        CAMPUS_ID = #{record.campusId,jdbcType=BIGINT},
      </if>
      <if test="record.state != null" >
        STATE = #{record.state,jdbcType=VARCHAR},
      </if>
      <if test="record.timeOfCure != null" >
        TIME_OF_CURE = #{record.timeOfCure,jdbcType=TIMESTAMP},
      </if>
      <if test="record.timeOfDeath != null" >
        TIME_OF_DEATH = #{record.timeOfDeath,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remarks != null" >
        REMARKS = #{record.remarks,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update epidemic_cure_death
    set EPIDEMIC_CURE_ID = #{record.epidemicCureId,jdbcType=INTEGER},
      CAMPUS_ID = #{record.campusId,jdbcType=BIGINT},
      STATE = #{record.state,jdbcType=VARCHAR},
      TIME_OF_CURE = #{record.timeOfCure,jdbcType=TIMESTAMP},
      TIME_OF_DEATH = #{record.timeOfDeath,jdbcType=TIMESTAMP},
      REMARKS = #{record.remarks,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.dgut.epidemic.pojo.EpidemicCureDeath" >
    update epidemic_cure_death
    <set >
      <if test="campusId != null" >
        CAMPUS_ID = #{campusId,jdbcType=BIGINT},
      </if>
      <if test="state != null" >
        STATE = #{state,jdbcType=VARCHAR},
      </if>
      <if test="timeOfCure != null" >
        TIME_OF_CURE = #{timeOfCure,jdbcType=TIMESTAMP},
      </if>
      <if test="timeOfDeath != null" >
        TIME_OF_DEATH = #{timeOfDeath,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        REMARKS = #{remarks,jdbcType=VARCHAR},
      </if>
    </set>
    where EPIDEMIC_CURE_ID = #{epidemicCureId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.edu.dgut.epidemic.pojo.EpidemicCureDeath" >
    update epidemic_cure_death
    set CAMPUS_ID = #{campusId,jdbcType=BIGINT},
      STATE = #{state,jdbcType=VARCHAR},
      TIME_OF_CURE = #{timeOfCure,jdbcType=TIMESTAMP},
      TIME_OF_DEATH = #{timeOfDeath,jdbcType=TIMESTAMP},
      REMARKS = #{remarks,jdbcType=VARCHAR}
    where EPIDEMIC_CURE_ID = #{epidemicCureId,jdbcType=INTEGER}
  </update>
</mapper>