<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.dgut.epidemic.mapper.EpidemicInformationMapper" >
  <resultMap id="BaseResultMap" type="cn.edu.dgut.epidemic.pojo.EpidemicInformation" >
    <id column="INFORMATION_ID" property="informationId" jdbcType="SMALLINT" />
    <result column="TITLE" property="title" jdbcType="VARCHAR" />
    <result column="CORRESPONDING_LINK" property="correspondingLink" jdbcType="VARCHAR" />
    <result column="RELEASE_TIME" property="releaseTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    INFORMATION_ID, TITLE, CORRESPONDING_LINK, RELEASE_TIME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.edu.dgut.epidemic.pojo.EpidemicInformationExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from epidemic_information
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Short" >
    select 
    <include refid="Base_Column_List" />
    from epidemic_information
    where INFORMATION_ID = #{informationId,jdbcType=SMALLINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Short" >
    delete from epidemic_information
    where INFORMATION_ID = #{informationId,jdbcType=SMALLINT}
  </delete>
  <delete id="deleteByExample" parameterType="cn.edu.dgut.epidemic.pojo.EpidemicInformationExample" >
    delete from epidemic_information
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.edu.dgut.epidemic.pojo.EpidemicInformation" >
    insert into epidemic_information (INFORMATION_ID, TITLE, CORRESPONDING_LINK, 
      RELEASE_TIME)
    values (#{informationId,jdbcType=SMALLINT}, #{title,jdbcType=VARCHAR}, #{correspondingLink,jdbcType=VARCHAR}, 
      #{releaseTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cn.edu.dgut.epidemic.pojo.EpidemicInformation" >
    insert into epidemic_information
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="informationId != null" >
        INFORMATION_ID,
      </if>
      <if test="title != null" >
        TITLE,
      </if>
      <if test="correspondingLink != null" >
        CORRESPONDING_LINK,
      </if>
      <if test="releaseTime != null" >
        RELEASE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="informationId != null" >
        #{informationId,jdbcType=SMALLINT},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="correspondingLink != null" >
        #{correspondingLink,jdbcType=VARCHAR},
      </if>
      <if test="releaseTime != null" >
        #{releaseTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.edu.dgut.epidemic.pojo.EpidemicInformationExample" resultType="java.lang.Integer" >
    select count(*) from epidemic_information
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update epidemic_information
    <set >
      <if test="record.informationId != null" >
        INFORMATION_ID = #{record.informationId,jdbcType=SMALLINT},
      </if>
      <if test="record.title != null" >
        TITLE = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.correspondingLink != null" >
        CORRESPONDING_LINK = #{record.correspondingLink,jdbcType=VARCHAR},
      </if>
      <if test="record.releaseTime != null" >
        RELEASE_TIME = #{record.releaseTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update epidemic_information
    set INFORMATION_ID = #{record.informationId,jdbcType=SMALLINT},
      TITLE = #{record.title,jdbcType=VARCHAR},
      CORRESPONDING_LINK = #{record.correspondingLink,jdbcType=VARCHAR},
      RELEASE_TIME = #{record.releaseTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.dgut.epidemic.pojo.EpidemicInformation" >
    update epidemic_information
    <set >
      <if test="title != null" >
        TITLE = #{title,jdbcType=VARCHAR},
      </if>
      <if test="correspondingLink != null" >
        CORRESPONDING_LINK = #{correspondingLink,jdbcType=VARCHAR},
      </if>
      <if test="releaseTime != null" >
        RELEASE_TIME = #{releaseTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where INFORMATION_ID = #{informationId,jdbcType=SMALLINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.edu.dgut.epidemic.pojo.EpidemicInformation" >
    update epidemic_information
    set TITLE = #{title,jdbcType=VARCHAR},
      CORRESPONDING_LINK = #{correspondingLink,jdbcType=VARCHAR},
      RELEASE_TIME = #{releaseTime,jdbcType=TIMESTAMP}
    where INFORMATION_ID = #{informationId,jdbcType=SMALLINT}
  </update>
</mapper>