<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.dgut.epidemic.mapper.VolunteerEnrollMapper" >
  <resultMap id="BaseResultMap" type="cn.edu.dgut.epidemic.pojo.VolunteerEnroll" >
    <id column="VOLUNTEER_ID" property="volunteerId" jdbcType="INTEGER" />
    <result column="CAMPUS_ID" property="campusId" jdbcType="BIGINT" />
    <result column="VOLUNTEER_SERVICE_ID" property="volunteerServiceId" jdbcType="SMALLINT" />
    <result column="IS_QUALIFIED" property="isQualified" jdbcType="VARCHAR" />
    <result column="ENROLL_TIME" property="enrollTime" jdbcType="TIMESTAMP" />
    <result column="EMPLOY_OR_NOT" property="employOrNot" jdbcType="VARCHAR" />
    <result column="VOLUNTEER_REMARKS" property="volunteerRemarks" jdbcType="VARCHAR" />
    <result column="SPONSOR_REMARKS" property="sponsorRemarks" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    VOLUNTEER_ID, CAMPUS_ID, VOLUNTEER_SERVICE_ID, IS_QUALIFIED, ENROLL_TIME, EMPLOY_OR_NOT, 
    VOLUNTEER_REMARKS, SPONSOR_REMARKS
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.edu.dgut.epidemic.pojo.VolunteerEnrollExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from volunteer_enroll
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from volunteer_enroll
    where VOLUNTEER_ID = #{volunteerId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from volunteer_enroll
    where VOLUNTEER_ID = #{volunteerId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="cn.edu.dgut.epidemic.pojo.VolunteerEnrollExample" >
    delete from volunteer_enroll
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.edu.dgut.epidemic.pojo.VolunteerEnroll" >
    insert into volunteer_enroll (VOLUNTEER_ID, CAMPUS_ID, VOLUNTEER_SERVICE_ID, 
      IS_QUALIFIED, ENROLL_TIME, EMPLOY_OR_NOT, 
      VOLUNTEER_REMARKS, SPONSOR_REMARKS)
    values (#{volunteerId,jdbcType=INTEGER}, #{campusId,jdbcType=BIGINT}, #{volunteerServiceId,jdbcType=SMALLINT}, 
      #{isQualified,jdbcType=VARCHAR}, #{enrollTime,jdbcType=TIMESTAMP}, #{employOrNot,jdbcType=VARCHAR}, 
      #{volunteerRemarks,jdbcType=VARCHAR}, #{sponsorRemarks,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.edu.dgut.epidemic.pojo.VolunteerEnroll" >
    insert into volunteer_enroll
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="volunteerId != null" >
        VOLUNTEER_ID,
      </if>
      <if test="campusId != null" >
        CAMPUS_ID,
      </if>
      <if test="volunteerServiceId != null" >
        VOLUNTEER_SERVICE_ID,
      </if>
      <if test="isQualified != null" >
        IS_QUALIFIED,
      </if>
      <if test="enrollTime != null" >
        ENROLL_TIME,
      </if>
      <if test="employOrNot != null" >
        EMPLOY_OR_NOT,
      </if>
      <if test="volunteerRemarks != null" >
        VOLUNTEER_REMARKS,
      </if>
      <if test="sponsorRemarks != null" >
        SPONSOR_REMARKS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="volunteerId != null" >
        #{volunteerId,jdbcType=INTEGER},
      </if>
      <if test="campusId != null" >
        #{campusId,jdbcType=BIGINT},
      </if>
      <if test="volunteerServiceId != null" >
        #{volunteerServiceId,jdbcType=SMALLINT},
      </if>
      <if test="isQualified != null" >
        #{isQualified,jdbcType=VARCHAR},
      </if>
      <if test="enrollTime != null" >
        #{enrollTime,jdbcType=TIMESTAMP},
      </if>
      <if test="employOrNot != null" >
        #{employOrNot,jdbcType=VARCHAR},
      </if>
      <if test="volunteerRemarks != null" >
        #{volunteerRemarks,jdbcType=VARCHAR},
      </if>
      <if test="sponsorRemarks != null" >
        #{sponsorRemarks,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.edu.dgut.epidemic.pojo.VolunteerEnrollExample" resultType="java.lang.Integer" >
    select count(*) from volunteer_enroll
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update volunteer_enroll
    <set >
      <if test="record.volunteerId != null" >
        VOLUNTEER_ID = #{record.volunteerId,jdbcType=INTEGER},
      </if>
      <if test="record.campusId != null" >
        CAMPUS_ID = #{record.campusId,jdbcType=BIGINT},
      </if>
      <if test="record.volunteerServiceId != null" >
        VOLUNTEER_SERVICE_ID = #{record.volunteerServiceId,jdbcType=SMALLINT},
      </if>
      <if test="record.isQualified != null" >
        IS_QUALIFIED = #{record.isQualified,jdbcType=VARCHAR},
      </if>
      <if test="record.enrollTime != null" >
        ENROLL_TIME = #{record.enrollTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.employOrNot != null" >
        EMPLOY_OR_NOT = #{record.employOrNot,jdbcType=VARCHAR},
      </if>
      <if test="record.volunteerRemarks != null" >
        VOLUNTEER_REMARKS = #{record.volunteerRemarks,jdbcType=VARCHAR},
      </if>
      <if test="record.sponsorRemarks != null" >
        SPONSOR_REMARKS = #{record.sponsorRemarks,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update volunteer_enroll
    set VOLUNTEER_ID = #{record.volunteerId,jdbcType=INTEGER},
      CAMPUS_ID = #{record.campusId,jdbcType=BIGINT},
      VOLUNTEER_SERVICE_ID = #{record.volunteerServiceId,jdbcType=SMALLINT},
      IS_QUALIFIED = #{record.isQualified,jdbcType=VARCHAR},
      ENROLL_TIME = #{record.enrollTime,jdbcType=TIMESTAMP},
      EMPLOY_OR_NOT = #{record.employOrNot,jdbcType=VARCHAR},
      VOLUNTEER_REMARKS = #{record.volunteerRemarks,jdbcType=VARCHAR},
      SPONSOR_REMARKS = #{record.sponsorRemarks,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.dgut.epidemic.pojo.VolunteerEnroll" >
    update volunteer_enroll
    <set >
      <if test="campusId != null" >
        CAMPUS_ID = #{campusId,jdbcType=BIGINT},
      </if>
      <if test="volunteerServiceId != null" >
        VOLUNTEER_SERVICE_ID = #{volunteerServiceId,jdbcType=SMALLINT},
      </if>
      <if test="isQualified != null" >
        IS_QUALIFIED = #{isQualified,jdbcType=VARCHAR},
      </if>
      <if test="enrollTime != null" >
        ENROLL_TIME = #{enrollTime,jdbcType=TIMESTAMP},
      </if>
      <if test="employOrNot != null" >
        EMPLOY_OR_NOT = #{employOrNot,jdbcType=VARCHAR},
      </if>
      <if test="volunteerRemarks != null" >
        VOLUNTEER_REMARKS = #{volunteerRemarks,jdbcType=VARCHAR},
      </if>
      <if test="sponsorRemarks != null" >
        SPONSOR_REMARKS = #{sponsorRemarks,jdbcType=VARCHAR},
      </if>
    </set>
    where VOLUNTEER_ID = #{volunteerId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.edu.dgut.epidemic.pojo.VolunteerEnroll" >
    update volunteer_enroll
    set CAMPUS_ID = #{campusId,jdbcType=BIGINT},
      VOLUNTEER_SERVICE_ID = #{volunteerServiceId,jdbcType=SMALLINT},
      IS_QUALIFIED = #{isQualified,jdbcType=VARCHAR},
      ENROLL_TIME = #{enrollTime,jdbcType=TIMESTAMP},
      EMPLOY_OR_NOT = #{employOrNot,jdbcType=VARCHAR},
      VOLUNTEER_REMARKS = #{volunteerRemarks,jdbcType=VARCHAR},
      SPONSOR_REMARKS = #{sponsorRemarks,jdbcType=VARCHAR}
    where VOLUNTEER_ID = #{volunteerId,jdbcType=INTEGER}
  </update>
</mapper>